<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>gamemain_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,69},{320,23}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{318,21}</string>
      </dict>
      <key>gamemain_000001</key>
      <dict>
        <key>frame</key>
        <string>{{341,69},{21,21}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{19,19}</string>
      </dict>
      <key>gamemain_000002</key>
      <dict>
        <key>frame</key>
        <string>{{320,69},{21,21}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{19,19}</string>
      </dict>
      <key>gamemain_000003</key>
      <dict>
        <key>frame</key>
        <string>{{0,452},{5,5}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{3,3}</string>
      </dict>
      <key>gamemain_000004</key>
      <dict>
        <key>frame</key>
        <string>{{345,356},{79,78}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{77,76}</string>
      </dict>
      <key>gamemain_000005</key>
      <dict>
        <key>frame</key>
        <string>{{265,92},{129,132}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{127,130}</string>
      </dict>
      <key>gamemain_000006</key>
      <dict>
        <key>frame</key>
        <string>{{265,224},{129,132}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{127,130}</string>
      </dict>
      <key>gamemain_000007</key>
      <dict>
        <key>frame</key>
        <string>{{394,69},{129,132}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{127,130}</string>
      </dict>
      <key>gamemain_000008</key>
      <dict>
        <key>frame</key>
        <string>{{265,397},{76,46}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{74,44}</string>
      </dict>
      <key>gamemain_000009</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{802,69}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{800,67}</string>
      </dict>
      <key>gamemain_000010</key>
      <dict>
        <key>frame</key>
        <string>{{513,201},{29,83}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{27,81}</string>
      </dict>
      <key>gamemain_000011</key>
      <dict>
        <key>frame</key>
        <string>{{394,201},{65,54}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{63,52}</string>
      </dict>
      <key>gamemain_000012</key>
      <dict>
        <key>frame</key>
        <string>{{394,255},{63,62}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{61,60}</string>
      </dict>
      <key>gamemain_000013</key>
      <dict>
        <key>frame</key>
        <string>{{424,353},{57,51}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{55,49}</string>
      </dict>
      <key>gamemain_000014</key>
      <dict>
        <key>frame</key>
        <string>{{265,356},{80,41}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{78,39}</string>
      </dict>
      <key>gamemain_000015</key>
      <dict>
        <key>frame</key>
        <string>{{394,317},{63,36}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{61,34}</string>
      </dict>
      <key>gamemain_000016</key>
      <dict>
        <key>frame</key>
        <string>{{0,92},{265,360}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{263,358}</string>
      </dict>
      <key>gamemain_000017</key>
      <dict>
        <key>frame</key>
        <string>{{424,404},{54,53}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{52,51}</string>
      </dict>
      <key>gamemain_000018</key>
      <dict>
        <key>frame</key>
        <string>{{457,255},{54,53}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{52,51}</string>
      </dict>
      <key>gamemain_000019</key>
      <dict>
        <key>frame</key>
        <string>{{459,201},{54,53}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{52,51}</string>
      </dict>
      <key>gamemain_000020</key>
      <dict>
        <key>frame</key>
        <string>{{478,404},{54,53}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{52,51}</string>
      </dict>
      <key>gamemain_000021</key>
      <dict>
        <key>frame</key>
        <string>{{481,308},{54,53}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{52,51}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>gamemain.png</string>
      <key>size</key>
      <string>{802,460}</string>
      <key>textureFileName</key>
      <string>gamemain.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asset1</key>
      <dict>
        <key>type</key>
        <string>progress</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset15</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.10526</real>
        <key>anchorY</key>
        <real>0.65000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset20</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.17632</real>
        <key>anchorY</key>
        <real>0.73158</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>asset23</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>asset25</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>asset32</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>asset33</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>asset35</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>asset39</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>asset4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>asset41</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.35741</real>
        <key>anchorY</key>
        <real>0.41852</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>asset42</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00000</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>asset43</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>asset5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
      <key>asset6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>14</integer>
        <key>end</key>
        <integer>14</integer>
      </dict>
      <key>asset7</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.45902</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>15</integer>
        <key>end</key>
        <integer>15</integer>
      </dict>
      <key>asset9</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>16</integer>
        <key>end</key>
        <integer>16</integer>
      </dict>
      <key>facebook</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>17</integer>
        <key>end</key>
        <integer>17</integer>
      </dict>
      <key>google_plus</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>18</integer>
        <key>end</key>
        <integer>18</integer>
      </dict>
      <key>qq</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>19</integer>
        <key>end</key>
        <integer>19</integer>
      </dict>
      <key>twitter</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>20</integer>
        <key>end</key>
        <integer>20</integer>
      </dict>
      <key>weibo</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>21</integer>
        <key>end</key>
        <integer>21</integer>
      </dict>
      <key>asset12</key>
      <dict>
        <key>type</key>
        <string>jpg</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>gamemain/asset12.jpg</string>
      </dict>
      <key>asset10</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>gamemain/asset10.png</string>
      </dict>
      <key>asset29</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>url</key>
        <string>gamemain/asset29.png</string>
      </dict>
      <key>asset3</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>gamemain/asset3.png</string>
      </dict>
      <key>asset31</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>gamemain/asset31.png</string>
      </dict>
      <key>asset34</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>gamemain/asset34.png</string>
      </dict>
      <key>asset38</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>url</key>
        <string>gamemain/asset38.png</string>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>asset11</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>3</integer>
        <key>rect</key>
        <string>0,0,1600.55,1241.40</string>
        <key>anchorX</key>
        <real>0.85467</real>
        <key>anchorY</key>
        <real>0.31819</real>
        <key>children</key>
        <dict>
          <key>i1165</key>
          <dict>
            <key>class</key>
            <string>asset29</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>1469.95,197.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00|1469.95,197.50,0.00,1.00000,1.00000,1.00,1,0.00,0.00|null</string>
          </dict>
          <key>i1617</key>
          <dict>
            <key>class</key>
            <string>asset10</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||1367.95,395.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>warning</key>
          <dict>
            <key>class</key>
            <string>sprite273</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|1439.65,506.85,24.46,0.99994,0.99994,1.00,0,24.46,24.46|null</string>
          </dict>
        </dict>
      </dict>
      <key>asset14</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,25.00,25.40</string>
        <key>anchorX</key>
        <real>0.49800</real>
        <key>anchorY</key>
        <real>0.49803</real>
        <key>children</key>
        <dict>
          <key>i1191</key>
          <dict>
            <key>class</key>
            <string>asset15</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>2.60,16.60,0.00,1.31908,1.31908,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>asset2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,186.05,173.40</string>
        <key>anchorX</key>
        <real>0.73932</real>
        <key>anchorY</key>
        <real>0.00577</real>
        <key>children</key>
        <dict>
          <key>i1219</key>
          <dict>
            <key>class</key>
            <string>asset40</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>107.20,164.60,0.00,1.31908,1.31908,1.00,0,0.00,0.00</string>
          </dict>
          <key>i1246</key>
          <dict>
            <key>class</key>
            <string>asset40</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>65.90,119.55,0.00,1.31908,1.31908,1.00,9,0.00,0.00</string>
          </dict>
          <key>i1222</key>
          <dict>
            <key>class</key>
            <string>asset40</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>99.10,140.90,0.00,0.65955,0.65955,1.00,1,0.00,0.00</string>
          </dict>
          <key>i1225</key>
          <dict>
            <key>class</key>
            <string>asset40</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>163.65,130.35,0.00,1.31908,1.31908,1.00,2,0.00,0.00</string>
          </dict>
          <key>i1228</key>
          <dict>
            <key>class</key>
            <string>asset40</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>113.45,89.55,180.00,1.31908,1.31908,1.00,3,0.00,180.00</string>
          </dict>
          <key>i1249</key>
          <dict>
            <key>class</key>
            <string>asset40</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>163.35,89.60,0.00,1.31908,1.31908,1.00,10,0.00,0.00</string>
          </dict>
          <key>i1231</key>
          <dict>
            <key>class</key>
            <string>asset40</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>146.05,86.10,180.00,0.65955,0.65955,1.00,4,0.00,180.00</string>
          </dict>
          <key>i1240</key>
          <dict>
            <key>class</key>
            <string>asset40</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>9.40,153.80,0.00,1.31908,1.31908,1.00,7,0.00,0.00</string>
          </dict>
          <key>i1234</key>
          <dict>
            <key>class</key>
            <string>asset40</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>84.30,68.85,180.00,1.31908,1.31908,1.00,5,0.00,180.00</string>
          </dict>
          <key>i1243</key>
          <dict>
            <key>class</key>
            <string>asset40</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>1.30,130.10,0.00,0.65955,0.65955,1.00,8,0.00,0.00</string>
          </dict>
          <key>i1237</key>
          <dict>
            <key>class</key>
            <string>asset40</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>101.20,39.05,180.00,1.31908,1.31908,1.00,6,0.00,180.00</string>
          </dict>
        </dict>
      </dict>
      <key>asset30</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>34</integer>
        <key>rect</key>
        <string>0,0,473.00,541.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i1276</key>
          <dict>
            <key>class</key>
            <string>asset38</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>236.50,270.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00|||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i1619</key>
          <dict>
            <key>class</key>
            <string>asset6</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null||||||||||||||||||||||||101.35,373.35,0.00,1.00000,1.00000,1.00,1,0.00,0.00|||||||||</string>
          </dict>
          <key>i1278</key>
          <dict>
            <key>class</key>
            <string>asset7</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>265.10,415.55,0.00,1.00000,1.00000,1.00,1,0.00,0.00|||||||||null||||||||||||||||||||||||</string>
          </dict>
        </dict>
      </dict>
      <key>asset40</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>9</integer>
        <key>rect</key>
        <string>0,0,18.95,19.25</string>
        <key>anchorX</key>
        <real>0.10554</real>
        <key>anchorY</key>
        <real>0.65455</real>
        <key>children</key>
        <dict>
          <key>i1304</key>
          <dict>
            <key>class</key>
            <string>asset20</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>3.35,14.15,0.00,1.00000,1.00000,1.00,0,0.00,0.00|3.45,14.00,0.00,0.97501,0.97501,1.00,0,0.00,0.00|3.65,13.90,0.00,0.95000,0.95000,1.00,0,0.00,0.00|3.75,13.80,0.00,0.92500,0.92500,1.00,0,0.00,0.00|3.90,13.60,0.00,0.89999,0.89999,1.00,0,0.00,0.00|3.75,13.70,0.00,0.92500,0.92500,1.00,0,0.00,0.00|3.65,13.80,0.00,0.95000,0.95000,1.00,0,0.00,0.00|3.50,13.95,0.00,0.97501,0.97501,1.00,0,0.00,0.00|3.35,14.15,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>asset8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,473.00,541.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>star</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null|226.05,356.55,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i1621</key>
          <dict>
            <key>class</key>
            <string>asset3</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|24.00,487.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>eye</key>
          <dict>
            <key>class</key>
            <string>asset30</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>236.50,270.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
        </dict>
      </dict>
      <key>game2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,840.45,640.00</string>
        <key>anchorX</key>
        <real>0.50211</real>
        <key>anchorY</key>
        <real>0.51094</real>
        <key>children</key>
        <dict>
          <key>i1358</key>
          <dict>
            <key>class</key>
            <string>asset12</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>22.00,627.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>bar</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>376.00,598.75,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>btn_back</key>
          <dict>
            <key>class</key>
            <string>asset39</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>33.95,619.00,0.00,1.00000,1.00000,1.00,8,0.00,0.00</string>
          </dict>
          <key>p1</key>
          <dict>
            <key>class</key>
            <string>asset11</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>52.00,470.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i1362</key>
          <dict>
            <key>class</key>
            <string>asset9</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>22.00,385.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>txt_score</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>642.55,629.05,0.00,1.00000,1.00000,1.00,6,0.00,0.00,DokChampa Regular,30,#FFFFFF,center,119,62</string>
            <key>text</key>
            <string>12345</string>
            <key>input</key>
            <false/>
          </dict>
          <key>i1368</key>
          <dict>
            <key>class</key>
            <string>asset4</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>22.00,627.00,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>i1371</key>
          <dict>
            <key>class</key>
            <string>asset5</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>196.20,623.00,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>p2</key>
          <dict>
            <key>class</key>
            <string>asset8</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>367.45,568.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>result</key>
          <dict>
            <key>class</key>
            <string>result</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>22.00,627.00,0.00,1.00000,1.00000,1.00,9,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>result</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,840.00,640.00</string>
        <key>anchorX</key>
        <real>0.02619</real>
        <key>anchorY</key>
        <real>0.97969</real>
        <key>children</key>
        <dict>
          <key>txt_share</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>268.05,239.55,0.00,1.00000,1.00000,1.00,3,0.00,0.00,黑体,20,#006AE8,center,306,112|</string>
            <key>text</key>
            <string>我是</string>
            <key>input</key>
            <false/>
          </dict>
          <key>mask1</key>
          <dict>
            <key>class</key>
            <string>asset42</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>22.00,27.00,0.00,1.00000,1.00000,1.00,6,0.00,0.00|</string>
          </dict>
          <key>btn_more</key>
          <dict>
            <key>class</key>
            <string>asset33</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>36.55,164.90,0.00,1.00000,1.00000,1.00,5,0.00,0.00|</string>
          </dict>
          <key>i1406</key>
          <dict>
            <key>class</key>
            <string>asset43</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,640.00,0.00,13.77023,10.66672,1.00,0,0.00,0.00|</string>
          </dict>
          <key>btn_play</key>
          <dict>
            <key>class</key>
            <string>asset35</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>null|674.60,166.90,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i1660</key>
          <dict>
            <key>class</key>
            <string>asset34</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null|171.60,627.50,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i1408</key>
          <dict>
            <key>class</key>
            <string>asset31</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>171.60,625.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00|null</string>
          </dict>
          <key>btn_replay</key>
          <dict>
            <key>class</key>
            <string>asset32</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>676.60,162.90,0.00,1.00000,1.00000,1.00,2,0.00,0.00|null</string>
          </dict>
          <key>score_txt</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>385.05,296.25,0.00,1.00000,1.00000,1.00,4,0.00,0.00,DokChampa Regular,30,#FFFFFF,center,113,62|</string>
            <key>text</key>
            <string>123333</string>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
      <key>sprite273</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>12</integer>
        <key>rect</key>
        <string>0,0,1921.10,208.70</string>
        <key>anchorX</key>
        <real>0.93126</real>
        <key>anchorY</key>
        <real>0.39842</real>
        <key>children</key>
        <dict>
          <key>i1437</key>
          <dict>
            <key>class</key>
            <string>asset41</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>1901.65,38.90,0.00,1.00000,1.00000,1.00,0,0.00,0.00|1901.65,38.90,0.00,1.02930,1.02930,1.00,0,0.00,0.00|1901.65,38.90,0.00,1.05861,1.05861,1.00,0,0.00,0.00|1901.65,38.90,0.00,1.08791,1.08791,1.00,0,0.00,0.00|1901.65,38.90,0.00,1.11722,1.11722,1.00,0,0.00,0.00|1901.65,38.90,0.00,1.14651,1.14651,1.00,0,0.00,0.00|1901.65,38.90,0.00,1.12209,1.12209,1.00,0,0.00,0.00|1901.65,38.90,0.00,1.09767,1.09767,1.00,0,0.00,0.00|1901.65,38.95,0.00,1.07324,1.07324,1.00,0,0.00,0.00|1901.65,38.90,0.00,1.04884,1.04884,1.00,0,0.00,0.00|1901.65,38.90,0.00,1.02441,1.02441,1.00,0,0.00,0.00|1901.65,38.90,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>