<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>index_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{1284,724}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{1282,722}</string>
      </dict>
      <key>index_000001</key>
      <dict>
        <key>frame</key>
        <string>{{227,724},{221,154}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{219,152}</string>
      </dict>
      <key>index_000002</key>
      <dict>
        <key>frame</key>
        <string>{{0,724},{227,139}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{225,137}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>index.png</string>
      <key>size</key>
      <string>{1384,924}</string>
      <key>textureFileName</key>
      <string>index.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asset2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00078</real>
        <key>anchorY</key>
        <real>0.99861</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00457</real>
        <key>anchorY</key>
        <real>0.99342</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00444</real>
        <key>anchorY</key>
        <real>0.99270</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>game</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,1282.00,722.00</string>
        <key>anchorX</key>
        <real>0.49938</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>play_btn</key>
          <dict>
            <key>class</key>
            <string>asset4</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>806.20,192.30,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>more_btn</key>
          <dict>
            <key>class</key>
            <string>asset3</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>241.20,207.35,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i702</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>1.00,721.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>