<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>gamemain_000000</key>
      <dict>
        <key>frame</key>
        <string>{{112,1248},{112,25}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{110,23}</string>
      </dict>
      <key>gamemain_000001</key>
      <dict>
        <key>frame</key>
        <string>{{0,1248},{112,25}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{110,23}</string>
      </dict>
      <key>gamemain_000002</key>
      <dict>
        <key>frame</key>
        <string>{{403,1180},{60,124}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{58,122}</string>
      </dict>
      <key>gamemain_000003</key>
      <dict>
        <key>frame</key>
        <string>{{221,1052},{185,55}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{183,53}</string>
      </dict>
      <key>gamemain_000004</key>
      <dict>
        <key>frame</key>
        <string>{{0,257},{722,78}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{720,76}</string>
      </dict>
      <key>gamemain_000005</key>
      <dict>
        <key>frame</key>
        <string>{{215,1193},{188,55}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{186,53}</string>
      </dict>
      <key>gamemain_000006</key>
      <dict>
        <key>frame</key>
        <string>{{326,1327},{99,69}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{97,67}</string>
      </dict>
      <key>gamemain_000007</key>
      <dict>
        <key>frame</key>
        <string>{{366,1396},{60,100}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{58,98}</string>
      </dict>
      <key>gamemain_000008</key>
      <dict>
        <key>frame</key>
        <string>{{0,539},{586,223}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{584,221}</string>
      </dict>
      <key>gamemain_000009</key>
      <dict>
        <key>frame</key>
        <string>{{0,1052},{221,141}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{219,139}</string>
      </dict>
      <key>gamemain_000010</key>
      <dict>
        <key>frame</key>
        <string>{{0,1282},{223,141}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{221,139}</string>
      </dict>
      <key>gamemain_000011</key>
      <dict>
        <key>frame</key>
        <string>{{0,335},{586,204}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{584,202}</string>
      </dict>
      <key>gamemain_000012</key>
      <dict>
        <key>frame</key>
        <string>{{0,1423},{222,141}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{220,139}</string>
      </dict>
      <key>gamemain_000013</key>
      <dict>
        <key>frame</key>
        <string>{{0,762},{580,290}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{578,288}</string>
      </dict>
      <key>gamemain_000014</key>
      <dict>
        <key>frame</key>
        <string>{{426,1304},{56,100}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{54,98}</string>
      </dict>
      <key>gamemain_000015</key>
      <dict>
        <key>frame</key>
        <string>{{333,1107},{73,73}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{71,71}</string>
      </dict>
      <key>gamemain_000016</key>
      <dict>
        <key>frame</key>
        <string>{{223,1327},{103,58}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{101,56}</string>
      </dict>
      <key>gamemain_000017</key>
      <dict>
        <key>frame</key>
        <string>{{222,1423},{144,120}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{142,118}</string>
      </dict>
      <key>gamemain_000018</key>
      <dict>
        <key>frame</key>
        <string>{{223,1385},{89,28}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{87,26}</string>
      </dict>
      <key>gamemain_000019</key>
      <dict>
        <key>frame</key>
        <string>{{221,1152},{89,28}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{87,26}</string>
      </dict>
      <key>gamemain_000020</key>
      <dict>
        <key>frame</key>
        <string>{{222,1543},{89,28}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{87,26}</string>
      </dict>
      <key>gamemain_000021</key>
      <dict>
        <key>frame</key>
        <string>{{221,1107},{112,45}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{110,43}</string>
      </dict>
      <key>gamemain_000022</key>
      <dict>
        <key>frame</key>
        <string>{{223,1282},{112,45}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{110,43}</string>
      </dict>
      <key>gamemain_000023</key>
      <dict>
        <key>frame</key>
        <string>{{722,0},{257,1282}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{255,1280}</string>
      </dict>
      <key>gamemain_000024</key>
      <dict>
        <key>frame</key>
        <string>{{463,1158},{48,94}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,92}</string>
      </dict>
      <key>gamemain_000025</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{722,257}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{720,255}</string>
      </dict>
      <key>gamemain_000026</key>
      <dict>
        <key>frame</key>
        <string>{{463,1252},{47,47}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{45,45}</string>
      </dict>
      <key>gamemain_000027</key>
      <dict>
        <key>frame</key>
        <string>{{474,1457},{28,42}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{26,40}</string>
      </dict>
      <key>gamemain_000028</key>
      <dict>
        <key>frame</key>
        <string>{{406,1052},{57,114}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{55,112}</string>
      </dict>
      <key>gamemain_000029</key>
      <dict>
        <key>frame</key>
        <string>{{366,1496},{54,86}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{52,84}</string>
      </dict>
      <key>gamemain_000030</key>
      <dict>
        <key>frame</key>
        <string>{{0,1193},{215,55}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{213,53}</string>
      </dict>
      <key>gamemain_000031</key>
      <dict>
        <key>frame</key>
        <string>{{335,1248},{54,53}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{52,51}</string>
      </dict>
      <key>gamemain_000032</key>
      <dict>
        <key>frame</key>
        <string>{{426,1404},{54,53}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{52,51}</string>
      </dict>
      <key>gamemain_000033</key>
      <dict>
        <key>frame</key>
        <string>{{463,1052},{54,53}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{52,51}</string>
      </dict>
      <key>gamemain_000034</key>
      <dict>
        <key>frame</key>
        <string>{{420,1496},{54,53}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{52,51}</string>
      </dict>
      <key>gamemain_000035</key>
      <dict>
        <key>frame</key>
        <string>{{463,1105},{54,53}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{52,51}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>gamemain.png</string>
      <key>size</key>
      <string>{1022,1582}</string>
      <key>textureFileName</key>
      <string>gamemain.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asset21</key>
      <dict>
        <key>type</key>
        <string>progress</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset22</key>
      <dict>
        <key>type</key>
        <string>progress</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.01724</real>
        <key>anchorY</key>
        <real>0.99180</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>asset10</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>asset11</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.49737</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>asset12</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50134</real>
        <key>anchorY</key>
        <real>0.51981</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>asset13</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50052</real>
        <key>anchorY</key>
        <real>0.51045</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>asset2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.01724</real>
        <key>anchorY</key>
        <real>0.98980</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>asset23</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00488</real>
        <key>anchorY</key>
        <real>0.98009</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>asset24</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00913</real>
        <key>anchorY</key>
        <real>0.98561</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>asset25</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00905</real>
        <key>anchorY</key>
        <real>0.98561</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>asset26</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00488</real>
        <key>anchorY</key>
        <real>1.06980</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>asset27</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00909</real>
        <key>anchorY</key>
        <real>0.98561</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>asset29</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50017</real>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
      <key>asset3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.01852</real>
        <key>anchorY</key>
        <real>0.98980</real>
        <key>start</key>
        <integer>14</integer>
        <key>end</key>
        <integer>14</integer>
      </dict>
      <key>asset30</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.52113</real>
        <key>anchorY</key>
        <real>0.50915</real>
        <key>start</key>
        <integer>15</integer>
        <key>end</key>
        <integer>15</integer>
      </dict>
      <key>asset31</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49010</real>
        <key>anchorY</key>
        <real>0.52768</real>
        <key>start</key>
        <integer>16</integer>
        <key>end</key>
        <integer>16</integer>
      </dict>
      <key>asset32</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>17</integer>
        <key>end</key>
        <integer>17</integer>
      </dict>
      <key>asset34</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.01149</real>
        <key>anchorY</key>
        <real>0.96154</real>
        <key>start</key>
        <integer>18</integer>
        <key>end</key>
        <integer>18</integer>
      </dict>
      <key>asset35</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.01149</real>
        <key>anchorY</key>
        <real>0.96154</real>
        <key>start</key>
        <integer>19</integer>
        <key>end</key>
        <integer>19</integer>
      </dict>
      <key>asset36</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.01149</real>
        <key>anchorY</key>
        <real>0.96154</real>
        <key>start</key>
        <integer>20</integer>
        <key>end</key>
        <integer>20</integer>
      </dict>
      <key>asset37</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49818</real>
        <key>anchorY</key>
        <real>0.49767</real>
        <key>start</key>
        <integer>21</integer>
        <key>end</key>
        <integer>21</integer>
      </dict>
      <key>asset38</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49818</real>
        <key>anchorY</key>
        <real>0.49767</real>
        <key>start</key>
        <integer>22</integer>
        <key>end</key>
        <integer>22</integer>
      </dict>
      <key>asset39</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49980</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>23</integer>
        <key>end</key>
        <integer>23</integer>
      </dict>
      <key>asset4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.02174</real>
        <key>anchorY</key>
        <real>0.98913</real>
        <key>start</key>
        <integer>24</integer>
        <key>end</key>
        <integer>24</integer>
      </dict>
      <key>asset42</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>25</integer>
        <key>end</key>
        <integer>25</integer>
      </dict>
      <key>asset43</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00111</real>
        <key>anchorY</key>
        <real>0.99889</real>
        <key>start</key>
        <integer>26</integer>
        <key>end</key>
        <integer>26</integer>
        <key>colliders</key>
        <dict>
          <key>main</key>
          <string>Rect,22.55,22.45,45.00,45.00,0.00</string>
        </dict>
      </dict>
      <key>asset44</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00000</real>
        <key>start</key>
        <integer>27</integer>
        <key>end</key>
        <integer>27</integer>
      </dict>
      <key>asset5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.01818</real>
        <key>anchorY</key>
        <real>0.99107</real>
        <key>start</key>
        <integer>28</integer>
        <key>end</key>
        <integer>28</integer>
      </dict>
      <key>asset6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.01923</real>
        <key>anchorY</key>
        <real>0.98810</real>
        <key>start</key>
        <integer>29</integer>
        <key>end</key>
        <integer>29</integer>
      </dict>
      <key>asset8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>30</integer>
        <key>end</key>
        <integer>30</integer>
      </dict>
      <key>facebook</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>31</integer>
        <key>end</key>
        <integer>31</integer>
      </dict>
      <key>google_plus</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>32</integer>
        <key>end</key>
        <integer>32</integer>
      </dict>
      <key>qq</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>33</integer>
        <key>end</key>
        <integer>33</integer>
      </dict>
      <key>twitter</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>34</integer>
        <key>end</key>
        <integer>34</integer>
      </dict>
      <key>weibo</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>35</integer>
        <key>end</key>
        <integer>35</integer>
      </dict>
      <key>asset16</key>
      <dict>
        <key>type</key>
        <string>jpg</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>gamemain/asset16.jpg</string>
      </dict>
      <key>asset17</key>
      <dict>
        <key>type</key>
        <string>jpg</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>gamemain/asset17.jpg</string>
      </dict>
      <key>asset18</key>
      <dict>
        <key>type</key>
        <string>jpg</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>gamemain/asset18.jpg</string>
      </dict>
      <key>asset28</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.49962</real>
        <key>anchorY</key>
        <real>0.49974</real>
        <key>url</key>
        <string>gamemain/asset28.png</string>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>asset14</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>3</integer>
        <key>rect</key>
        <string>0,0,112.35,48.00</string>
        <key>anchorX</key>
        <real>0.01780</real>
        <key>anchorY</key>
        <real>0.95833</real>
        <key>colliders</key>
        <dict>
          <key>main</key>
          <string>Rect,57.10,24.00,110.10,44.00,0.00||</string>
        </dict>
        <key>children</key>
        <dict>
          <key>i16554961</key>
          <dict>
            <key>class</key>
            <string>asset37</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>54.80,21.60,0.00,1.00000,1.00000,1.00,0,0.00,0.00||</string>
          </dict>
          <key>i16554963</key>
          <dict>
            <key>class</key>
            <string>asset38</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>54.80,26.40,0.00,1.00000,1.00000,1.00,1,0.00,0.00||</string>
          </dict>
          <key>i16555237</key>
          <dict>
            <key>class</key>
            <string>asset35</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>null|13.10,38.25,0.00,1.00000,1.00000,1.00,2,0.00,0.00|null</string>
          </dict>
          <key>i16555239</key>
          <dict>
            <key>class</key>
            <string>asset36</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>null||13.10,38.25,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i16554965</key>
          <dict>
            <key>class</key>
            <string>asset34</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>13.10,38.25,0.00,1.00000,1.00000,1.00,2,0.00,0.00|null|</string>
          </dict>
        </dict>
      </dict>
      <key>asset33</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>3</integer>
        <key>rect</key>
        <string>0,0,722.00,1281.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i16554992</key>
          <dict>
            <key>class</key>
            <string>asset16</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,1281.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|</string>
          </dict>
          <key>i16555241</key>
          <dict>
            <key>class</key>
            <string>asset17</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|0.00,1281.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i16555243</key>
          <dict>
            <key>class</key>
            <string>asset18</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||0.00,1281.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>asset7</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,213.00,53.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>missionBar</key>
          <dict>
            <key>class</key>
            <string>asset21</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>86.50,41.50,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i16555018</key>
          <dict>
            <key>class</key>
            <string>asset8</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>106.50,26.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>asset9</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,183.00,53.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>timeBar</key>
          <dict>
            <key>class</key>
            <string>asset22</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>57.95,41.50,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i16555045</key>
          <dict>
            <key>class</key>
            <string>asset10</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>91.50,26.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>car</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>6</integer>
        <key>rect</key>
        <string>0,0,58.15,122.25</string>
        <key>anchorX</key>
        <real>0.49871</real>
        <key>anchorY</key>
        <real>0.49939</real>
        <key>colliders</key>
        <dict>
          <key>main</key>
          <string>Rect,26.00,63.05,44.00,118.00,0.00|Rect,26.00,63.05,44.00,103.60,0.00||Rect,26.00,68.05,44.00,93.40,0.00|Rect,26.00,59.90,44.00,109.50,0.00|Rect,26.00,60.05,44.00,78.20,0.00</string>
        </dict>
        <key>children</key>
        <dict>
          <key>i16555253</key>
          <dict>
            <key>class</key>
            <string>asset6</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||4.00,102.05,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i16555072</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>1.00,121.05,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||</string>
          </dict>
          <key>i16555249</key>
          <dict>
            <key>class</key>
            <string>asset4</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||7.00,111.05,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|</string>
          </dict>
          <key>i16555251</key>
          <dict>
            <key>class</key>
            <string>asset5</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||2.75,116.05,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i16555247</key>
          <dict>
            <key>class</key>
            <string>asset3</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||2.10,109.05,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||</string>
          </dict>
          <key>i16555245</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|1.00,104.05,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||</string>
          </dict>
        </dict>
      </dict>
      <key>gamemain</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,721.00,1281.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00078</real>
        <key>children</key>
        <dict>
          <key>t1</key>
          <dict>
            <key>class</key>
            <string>asset14</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>519.35,802.25,90.00,1.00000,1.00000,1.00,7,90.00,90.00</string>
          </dict>
          <key>bg</key>
          <dict>
            <key>class</key>
            <string>asset33</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,1281.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>sprcar</key>
          <dict>
            <key>class</key>
            <string>asset44</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>0.00,1.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>cross_mc</key>
          <dict>
            <key>class</key>
            <string>asset43</string>
            <key>zIndex</key>
            <integer>15</integer>
            <key>frames</key>
            <string>259.15,796.95,0.00,4.66667,4.66667,0.14,15,0.00,0.00</string>
          </dict>
          <key>i16555101</key>
          <dict>
            <key>class</key>
            <string>asset39</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>361.10,641.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>mission</key>
          <dict>
            <key>class</key>
            <string>asset7</string>
            <key>zIndex</key>
            <integer>11</integer>
            <key>frames</key>
            <string>114.40,1246.15,0.00,1.00000,1.00000,1.00,11,0.00,0.00</string>
          </dict>
          <key>i16555134</key>
          <dict>
            <key>class</key>
            <string>asset11</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>360.00,1242.80,0.00,1.00000,1.00000,1.00,8,0.00,0.00</string>
          </dict>
          <key>txt_score</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>516.15,1265.10,0.00,1.00000,1.00000,1.00,10,0.00,0.00,黑体,29,#FFFFFF,center,72,33</string>
            <key>text</key>
            <string>90</string>
            <key>input</key>
            <false/>
          </dict>
          <key>i16555136</key>
          <dict>
            <key>class</key>
            <string>asset12</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>522.00,1247.40,0.00,1.00000,1.00000,1.00,9,0.00,0.00</string>
          </dict>
          <key>i16555103</key>
          <dict>
            <key>class</key>
            <string>asset42</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>0.00,818.90,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>time</key>
          <dict>
            <key>class</key>
            <string>asset9</string>
            <key>zIndex</key>
            <integer>12</integer>
            <key>frames</key>
            <string>325.20,1246.15,0.00,1.00000,1.00000,1.00,12,0.00,0.00</string>
          </dict>
          <key>t3</key>
          <dict>
            <key>class</key>
            <string>asset14</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>259.15,692.10,90.00,1.00000,1.00000,1.00,6,90.00,90.00</string>
          </dict>
          <key>txt_lv</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>14</integer>
            <key>frames</key>
            <string>652.40,1272.25,0.00,1.00000,1.00000,1.00,14,0.00,0.00,黑体,39,#FFFFFF,center,24,43</string>
            <key>text</key>
            <string>2</string>
            <key>input</key>
            <false/>
          </dict>
          <key>t2</key>
          <dict>
            <key>class</key>
            <string>asset14</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>255.15,847.75,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>t0</key>
          <dict>
            <key>class</key>
            <string>asset14</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>365.20,580.65,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>i16555144</key>
          <dict>
            <key>class</key>
            <string>asset13</string>
            <key>zIndex</key>
            <integer>13</integer>
            <key>frames</key>
            <string>664.20,1248.10,0.00,1.00000,1.00000,1.00,13,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>result</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,720.00,2265.75</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.43507</real>
        <key>children</key>
        <dict>
          <key>i16555172</key>
          <dict>
            <key>class</key>
            <string>asset32</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,2265.75,0.00,5.07042,10.84746,1.00,0,0.00,0.00|</string>
          </dict>
          <key>lose_more</key>
          <dict>
            <key>class</key>
            <string>asset25</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>null|103.70,1418.30,0.00,1.00000,1.00000,1.00,10,0.00,0.00</string>
          </dict>
          <key>i16555174</key>
          <dict>
            <key>class</key>
            <string>asset28</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>364.25,1534.70,0.00,1.00000,1.00000,1.00,1,0.00,0.00|</string>
          </dict>
          <key>lose_lv</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>null|336.25,1678.75,0.00,1.00000,1.00000,1.00,13,0.00,0.00,Arial,42,#FFFFFF,left,28,51</string>
            <key>text</key>
            <string>3</string>
            <key>input</key>
            <false/>
          </dict>
          <key>i16555176</key>
          <dict>
            <key>class</key>
            <string>asset29</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>364.05,1592.20,0.00,1.00000,1.00000,1.00,2,0.00,0.00|</string>
          </dict>
          <key>i16555261</key>
          <dict>
            <key>class</key>
            <string>asset26</string>
            <key>zIndex</key>
            <integer>12</integer>
            <key>frames</key>
            <string>null|75.70,1955.65,0.00,1.00000,1.00000,1.00,12,0.00,0.00</string>
          </dict>
          <key>i16555178</key>
          <dict>
            <key>class</key>
            <string>asset30</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>216.80,1526.20,0.00,1.00000,1.00000,1.00,3,0.00,0.00|</string>
          </dict>
          <key>i16555256</key>
          <dict>
            <key>class</key>
            <string>asset26</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>null|74.30,675.05,0.00,1.00000,1.00000,1.00,8,0.00,0.00</string>
          </dict>
          <key>i16555180</key>
          <dict>
            <key>class</key>
            <string>asset31</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>219.90,1654.45,0.00,1.00000,1.00000,1.00,4,0.00,0.00|</string>
          </dict>
          <key>win_score</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>336.25,1553.75,0.00,1.00000,1.00000,1.00,7,0.00,0.00,Arial,42,#FFFFFF,left,121,51|null</string>
            <key>text</key>
            <string>45736</string>
            <key>input</key>
            <false/>
          </dict>
          <key>i16555182</key>
          <dict>
            <key>class</key>
            <string>asset23</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>74.30,1955.65,0.00,1.00000,1.00000,1.00,5,0.00,0.00|null</string>
          </dict>
          <key>win_more</key>
          <dict>
            <key>class</key>
            <string>asset25</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>117.70,1417.90,0.00,1.00000,1.00000,1.00,9,0.00,0.00|null</string>
          </dict>
          <key>win_lv</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>336.25,1680.75,0.00,1.00000,1.00000,1.00,6,0.00,0.00,Arial,42,#FFFFFF,left,28,51|null</string>
            <key>text</key>
            <string>3</string>
            <key>input</key>
            <false/>
          </dict>
          <key>lose_replay</key>
          <dict>
            <key>class</key>
            <string>asset27</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>null|410.40,1418.30,0.00,1.00000,1.00000,1.00,11,0.00,0.00</string>
          </dict>
          <key>win_next</key>
          <dict>
            <key>class</key>
            <string>asset24</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>410.40,1417.65,0.00,1.00000,1.00000,1.00,8,0.00,0.00|null</string>
          </dict>
          <key>lose_score</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>null|336.25,1555.75,0.00,1.00000,1.00000,1.00,14,0.00,0.00,Arial,42,#FFFFFF,left,121,51</string>
            <key>text</key>
            <string>45736</string>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>