<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>GameIndex_0000</key>
      <dict>
        <key>frame</key>
        <string>{{262,1},{161,165}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{161.00,165.00}</string>
      </dict>
      <key>GameIndex_0001</key>
      <dict>
        <key>frame</key>
        <string>{{258,224},{164,167}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{164.00,167.00}</string>
      </dict>
      <key>GameIndex_0002</key>
      <dict>
        <key>frame</key>
        <string>{{92,429},{89,91}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{89.00,91.00}</string>
      </dict>
      <key>GameIndex_0003</key>
      <dict>
        <key>frame</key>
        <string>{{1,429},{89,91}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{89.00,91.00}</string>
      </dict>
      <key>GameIndex_0004</key>
      <dict>
        <key>frame</key>
        <string>{{258,393},{114,116}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{114.00,116.00}</string>
      </dict>
      <key>GameIndex_0005</key>
      <dict>
        <key>frame</key>
        <string>{{1,224},{255,203}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{255.00,203.00}</string>
      </dict>
      <key>GameIndex_0006</key>
      <dict>
        <key>frame</key>
        <string>{{183,429},{53,84}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{53.00,84.00}</string>
      </dict>
      <key>GameIndex_0007</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{259,221}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{259.00,221.00}</string>
      </dict>
      <key>GameIndex_0008</key>
      <dict>
        <key>frame</key>
        <string>{{374,393},{113,115}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{113.00,115.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.58</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>GameIndex.png</string>
      <key>realTextureFileName</key>
      <string>GameIndex.png</string>
      <key>textureFileName</key>
      <string>GameIndex.png</string>
      <key>size</key>
      <string>{562,524}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a2</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.17236</real>
        <key>anchorY</key>
        <real>0.45909</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a3</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.72348</real>
        <key>anchorY</key>
        <real>0.45060</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a59</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50899</real>
        <key>anchorY</key>
        <real>0.49670</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>a60</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50899</real>
        <key>anchorY</key>
        <real>0.49670</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a11</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.40175</real>
        <key>anchorY</key>
        <real>0.65345</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>a14</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50020</real>
        <key>anchorY</key>
        <real>0.50123</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>a49</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51132</real>
        <key>anchorY</key>
        <real>0.50179</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>a58</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.48263</real>
        <key>anchorY</key>
        <real>0.49276</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>a6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.14690</real>
        <key>anchorY</key>
        <real>0.65696</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>a4</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.47949</real>
        <key>anchorY</key>
        <real>0.54685</real>
        <key>url</key>
        <string>GameIndex/a4.png</string>
      </dict>
      <key>dfdfd</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.50011</real>
        <key>anchorY</key>
        <real>0.50031</real>
        <key>url</key>
        <string>GameIndex/dfdfd.png</string>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>a5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>36</integer>
        <key>rect</key>
        <string>0,0,923.40,1232.15</string>
        <key>anchorX</key>
        <real>0.46318</real>
        <key>anchorY</key>
        <real>0.43412</real>
        <key>children</key>
        <dict>
          <key>btn_play</key>
          <dict>
            <key>class</key>
            <string>a2</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>null|||||||||||||||||||||||||||||||||||555.10,350.55,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i10669</key>
          <dict>
            <key>class</key>
            <string>a4</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>447.80,1077.95,0.00,1.42661,1.42661,1.00,0,0.00,0.00|445.80,980.60,0.00,1.42659,1.42659,1.00,0,0.00,0.00|443.80,883.25,0.00,1.42659,1.42659,1.00,0,0.00,0.00|441.80,785.95,0.00,1.42659,1.42659,1.00,0,0.00,0.00|439.80,688.60,0.00,1.42659,1.42659,1.00,0,0.00,0.00|437.80,591.25,0.00,1.42661,1.42661,1.00,0,0.00,0.00|437.75,580.60,0.00,1.42659,1.42659,1.00,0,0.00,0.00|437.75,569.90,0.00,1.42659,1.42659,1.00,0,0.00,0.00|437.80,559.25,0.00,1.42661,1.42661,1.00,0,0.00,0.00|437.75,574.80,0.00,1.42659,1.42659,1.00,0,0.00,0.00|437.75,590.30,0.00,1.42659,1.42659,1.00,0,0.00,0.00|437.75,605.80,0.00,1.42659,1.42659,1.00,0,0.00,0.00|437.80,621.25,0.00,1.42661,1.42661,1.00,0,0.00,0.00|437.75,597.20,0.00,1.42659,1.42659,1.00,0,0.00,0.00|437.80,573.25,0.00,1.42661,1.42661,1.00,0,0.00,0.00|437.75,582.25,0.00,1.42661,1.42661,1.00,0,0.00,0.00|437.80,609.25,0.00,1.42661,1.42661,1.00,0,0.00,0.00|||||||||||||||||||</string>
          </dict>
          <key>btn_more</key>
          <dict>
            <key>class</key>
            <string>a3</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null|||||||||||||||||||||||||279.75,350.55,0.00,1.00000,1.00000,1.00,1,0.00,0.00||||||||||</string>
          </dict>
          <key>i10866</key>
          <dict>
            <key>class</key>
            <string>a11</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null||||||||||||||||235.05,112.15,0.00,1.43997,1.43997,1.00,1,0.00,0.00|232.40,203.00,0.00,1.43997,1.43997,1.00,1,0.00,0.00|229.70,293.80,0.00,1.43997,1.43997,1.00,1,0.00,0.00|227.05,384.55,0.00,1.43997,1.43997,1.00,1,0.00,0.00|227.05,373.55,0.00,1.43997,1.43997,1.00,1,0.00,0.00|227.05,362.55,0.00,1.43997,1.43997,1.00,1,0.00,0.00|227.05,373.55,0.00,1.43997,1.43997,1.00,1,0.00,0.00|227.05,384.55,0.00,1.43997,1.43997,1.00,1,0.00,0.00|227.05,384.55,0.00,1.43999,1.43999,1.00,1,0.00,0.00|null||||||||||</string>
          </dict>
          <key>i10890</key>
          <dict>
            <key>class</key>
            <string>a6</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>null||||||||||||||||||||||||||516.50,122.20,0.00,1.43997,1.43997,1.00,2,0.00,0.00|511.85,209.65,0.00,1.43997,1.43997,1.00,2,0.00,0.00|507.20,297.10,0.00,1.43997,1.43997,1.00,2,0.00,0.00|502.45,384.55,0.00,1.43997,1.43997,1.00,2,0.00,0.00|502.45,375.55,0.00,1.43997,1.43997,1.00,2,0.00,0.00|502.45,366.55,0.00,1.43997,1.43997,1.00,2,0.00,0.00|502.45,375.55,0.00,1.43997,1.43997,1.00,2,0.00,0.00|502.45,384.55,0.00,1.43997,1.43997,1.00,2,0.00,0.00|502.45,384.55,0.00,1.43999,1.43999,1.00,2,0.00,0.00|null</string>
          </dict>
        </dict>
      </dict>
      <key>a61</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,90.65,93.65</string>
        <key>anchorX</key>
        <real>0.49972</real>
        <key>anchorY</key>
        <real>0.50027</real>
        <key>children</key>
        <dict>
          <key>i10708</key>
          <dict>
            <key>class</key>
            <string>a59</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>45.30,46.85,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i10914</key>
          <dict>
            <key>class</key>
            <string>a60</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|45.30,46.85,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>gameIndex</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,1309.30,1117.55</string>
        <key>anchorX</key>
        <real>0.01065</real>
        <key>anchorY</key>
        <real>0.70109</real>
        <key>children</key>
        <dict>
          <key>ming</key>
          <dict>
            <key>class</key>
            <string>a5</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>670.60,412.30,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i10737</key>
          <dict>
            <key>class</key>
            <string>dfdfd</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>654.65,399.30,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>btn_music</key>
          <dict>
            <key>class</key>
            <string>a61</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>1246.75,729.45,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>