<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>indexScene_0000</key>
      <dict>
        <key>frame</key>
        <string>{{146,435},{77,25}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{77.00,25.00}</string>
      </dict>
      <key>indexScene_0001</key>
      <dict>
        <key>frame</key>
        <string>{{213,185},{80,30}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{80.00,30.00}</string>
      </dict>
      <key>indexScene_0002</key>
      <dict>
        <key>frame</key>
        <string>{{213,1},{82,31}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{82.00,31.00}</string>
      </dict>
      <key>indexScene_0003</key>
      <dict>
        <key>frame</key>
        <string>{{213,34},{82,31}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{82.00,31.00}</string>
      </dict>
      <key>indexScene_0004</key>
      <dict>
        <key>frame</key>
        <string>{{146,316},{100,117}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{100.00,117.00}</string>
      </dict>
      <key>indexScene_0005</key>
      <dict>
        <key>frame</key>
        <string>{{297,1},{64,36}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{64.00,36.00}</string>
      </dict>
      <key>indexScene_0006</key>
      <dict>
        <key>frame</key>
        <string>{{323,369},{64,36}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{64.00,36.00}</string>
      </dict>
      <key>indexScene_0007</key>
      <dict>
        <key>frame</key>
        <string>{{296,67},{69,38}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{69.00,38.00}</string>
      </dict>
      <key>indexScene_0008</key>
      <dict>
        <key>frame</key>
        <string>{{271,570},{70,39}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{70.00,39.00}</string>
      </dict>
      <key>indexScene_0009</key>
      <dict>
        <key>frame</key>
        <string>{{271,444},{73,73}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{73.00,73.00}</string>
      </dict>
      <key>indexScene_0010</key>
      <dict>
        <key>frame</key>
        <string>{{248,369},{73,73}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{73.00,73.00}</string>
      </dict>
      <key>indexScene_0011</key>
      <dict>
        <key>frame</key>
        <string>{{213,67},{81,116}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{81.00,116.00}</string>
      </dict>
      <key>indexScene_0012</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{210,313}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{210.00,313.00}</string>
      </dict>
      <key>indexScene_0013</key>
      <dict>
        <key>frame</key>
        <string>{{295,185},{71,49}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{71.00,49.00}</string>
      </dict>
      <key>indexScene_0014</key>
      <dict>
        <key>frame</key>
        <string>{{271,519},{71,49}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{71.00,49.00}</string>
      </dict>
      <key>indexScene_0015</key>
      <dict>
        <key>frame</key>
        <string>{{248,318},{75,49}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{75.00,49.00}</string>
      </dict>
      <key>indexScene_0016</key>
      <dict>
        <key>frame</key>
        <string>{{248,267},{75,49}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{75.00,49.00}</string>
      </dict>
      <key>indexScene_0017</key>
      <dict>
        <key>frame</key>
        <string>{{213,267},{22,20}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{22.00,20.00}</string>
      </dict>
      <key>indexScene_0018</key>
      <dict>
        <key>frame</key>
        <string>{{213,217},{76,48}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{76.00,48.00}</string>
      </dict>
      <key>indexScene_0019</key>
      <dict>
        <key>frame</key>
        <string>{{1,316},{143,146}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{143.00,146.00}</string>
      </dict>
      <key>indexScene_0020</key>
      <dict>
        <key>frame</key>
        <string>{{213,289},{12,17}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{12.00,17.00}</string>
      </dict>
      <key>indexScene_0021</key>
      <dict>
        <key>frame</key>
        <string>{{296,107},{65,41}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{65.00,41.00}</string>
      </dict>
      <key>indexScene_0022</key>
      <dict>
        <key>frame</key>
        <string>{{1,464},{133,133}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{133.00,133.00}</string>
      </dict>
      <key>indexScene_0023</key>
      <dict>
        <key>frame</key>
        <string>{{136,464},{133,133}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{133.00,133.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.58</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>indexScene.png</string>
      <key>realTextureFileName</key>
      <string>indexScene.png</string>
      <key>textureFileName</key>
      <string>indexScene.png</string>
      <key>size</key>
      <string>{412,616}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a112</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a113</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a114</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>a115</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a123</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>a128</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>a129</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>a130</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>a131</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>a159</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50411</real>
        <key>anchorY</key>
        <real>0.49589</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>a160</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50411</real>
        <key>anchorY</key>
        <real>0.49589</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>a37</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.47654</real>
        <key>anchorY</key>
        <real>0.47457</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>a40</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>a65</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
      <key>a66</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>14</integer>
        <key>end</key>
        <integer>14</integer>
      </dict>
      <key>a67</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>15</integer>
        <key>end</key>
        <integer>15</integer>
      </dict>
      <key>a68</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>16</integer>
        <key>end</key>
        <integer>16</integer>
      </dict>
      <key>a80</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>17</integer>
        <key>end</key>
        <integer>17</integer>
      </dict>
      <key>a83</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>18</integer>
        <key>end</key>
        <integer>18</integer>
      </dict>
      <key>a89</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>19</integer>
        <key>end</key>
        <integer>19</integer>
      </dict>
      <key>a94</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>20</integer>
        <key>end</key>
        <integer>20</integer>
      </dict>
      <key>a97</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>21</integer>
        <key>end</key>
        <integer>21</integer>
      </dict>
      <key>gfhdh</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50150</real>
        <key>anchorY</key>
        <real>0.49850</real>
        <key>start</key>
        <integer>22</integer>
        <key>end</key>
        <integer>22</integer>
      </dict>
      <key>hdsww</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50150</real>
        <key>anchorY</key>
        <real>0.49850</real>
        <key>start</key>
        <integer>23</integer>
        <key>end</key>
        <integer>23</integer>
      </dict>
      <key>a1</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.04405</real>
        <key>url</key>
        <string>indexScene/a1.png</string>
      </dict>
      <key>a100</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>indexScene/a100.png</string>
      </dict>
      <key>a103</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>indexScene/a103.png</string>
      </dict>
      <key>a109</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>indexScene/a109.png</string>
      </dict>
      <key>a112</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>indexScene/a112.png</string>
      </dict>
      <key>a133</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>indexScene/a133.png</string>
      </dict>
      <key>a158</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>indexScene/a158.png</string>
      </dict>
      <key>a3</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>indexScene/a3.png</string>
      </dict>
      <key>a31</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>indexScene/a31.png</string>
      </dict>
      <key>a58</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>indexScene/a58.png</string>
      </dict>
      <key>a70</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>indexScene/a70.png</string>
      </dict>
      <key>cghg</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.49524</real>
        <key>anchorY</key>
        <real>0.52975</real>
        <key>url</key>
        <string>indexScene/cghg.png</string>
      </dict>
      <key>dfgvas</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>url</key>
        <string>indexScene/dfgvas.png</string>
      </dict>
      <key>dgfg</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.50070</real>
        <key>anchorY</key>
        <real>0.49977</real>
        <key>url</key>
        <string>indexScene/dgfg.png</string>
      </dict>
      <key>fdgas</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.49524</real>
        <key>anchorY</key>
        <real>0.52975</real>
        <key>url</key>
        <string>indexScene/fdgas.png</string>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>a116</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>121</integer>
        <key>rect</key>
        <string>0,0,82.00,31.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i2396</key>
          <dict>
            <key>class</key>
            <string>a113</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||1.00,31.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i2398</key>
          <dict>
            <key>class</key>
            <string>a112</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||2.00,26.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i2392</key>
          <dict>
            <key>class</key>
            <string>a115</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||0.00,31.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i1607</key>
          <dict>
            <key>class</key>
            <string>a112</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>2.00,26.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i2390</key>
          <dict>
            <key>class</key>
            <string>a114</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||0.00,31.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i2388</key>
          <dict>
            <key>class</key>
            <string>a113</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|1.00,31.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i2394</key>
          <dict>
            <key>class</key>
            <string>a114</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||0.00,31.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
        </dict>
      </dict>
      <key>a119</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,390.00,873.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>zhayan</key>
          <dict>
            <key>class</key>
            <string>a116</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>78.00,818.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i1633</key>
          <dict>
            <key>class</key>
            <string>a158</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,873.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a132</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>120</integer>
        <key>rect</key>
        <string>0,0,70.00,39.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i2408</key>
          <dict>
            <key>class</key>
            <string>a129</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||5.00,38.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i2410</key>
          <dict>
            <key>class</key>
            <string>a128</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||5.00,38.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i2400</key>
          <dict>
            <key>class</key>
            <string>a129</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|5.00,38.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i2404</key>
          <dict>
            <key>class</key>
            <string>a131</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||0.00,39.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i1662</key>
          <dict>
            <key>class</key>
            <string>a128</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>5.00,38.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i2402</key>
          <dict>
            <key>class</key>
            <string>a130</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||0.00,38.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i2406</key>
          <dict>
            <key>class</key>
            <string>a130</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||0.00,38.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
        </dict>
      </dict>
      <key>a161</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,339.00,844.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i1688</key>
          <dict>
            <key>class</key>
            <string>a70</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,844.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>zhayan</key>
          <dict>
            <key>class</key>
            <string>a69</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>127.00,810.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>a69</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>129</integer>
        <key>rect</key>
        <string>0,0,75.00,49.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i2420</key>
          <dict>
            <key>class</key>
            <string>a66</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||4.00,49.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i2414</key>
          <dict>
            <key>class</key>
            <string>a67</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||0.00,49.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i2422</key>
          <dict>
            <key>class</key>
            <string>a65</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||4.00,49.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i2418</key>
          <dict>
            <key>class</key>
            <string>a67</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||0.00,49.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i2416</key>
          <dict>
            <key>class</key>
            <string>a68</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||0.00,49.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i1716</key>
          <dict>
            <key>class</key>
            <string>a65</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>4.00,49.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i2412</key>
          <dict>
            <key>class</key>
            <string>a66</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|4.00,49.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
        </dict>
      </dict>
      <key>indx</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,1519.15,1401.90</string>
        <key>anchorX</key>
        <real>0.00474</real>
        <key>anchorY</key>
        <real>0.73543</real>
        <key>children</key>
        <dict>
          <key>an2</key>
          <dict>
            <key>class</key>
            <string>xcvbvh</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>447.20,442.25,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>btn_play</key>
          <dict>
            <key>class</key>
            <string>gfhdh</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>717.55,532.70,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>i1742</key>
          <dict>
            <key>class</key>
            <string>dfgvas</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>407.40,731.05,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>btn_more</key>
          <dict>
            <key>class</key>
            <string>hdsww</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>97.95,532.70,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>an1</key>
          <dict>
            <key>class</key>
            <string>xdfgfh</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>413.70,992.70,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>btn_music</key>
          <dict>
            <key>class</key>
            <string>xcvc</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>713.40,1008.85,0.00,1.12347,1.12347,1.00,3,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>xcvbvh</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>10</integer>
        <key>rect</key>
        <string>0,0,1415.90,884.45</string>
        <key>anchorX</key>
        <real>0.24292</real>
        <key>anchorY</key>
        <real>0.50003</real>
        <key>children</key>
        <dict>
          <key>i1832</key>
          <dict>
            <key>class</key>
            <string>dgfg</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>1093.95,442.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00|1008.15,442.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00|922.40,442.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00|836.60,442.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00|750.85,442.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00|665.05,442.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00|579.30,442.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00|493.50,442.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00|407.75,442.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00|321.95,442.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>xcvc</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,73.65,73.60</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i1901</key>
          <dict>
            <key>class</key>
            <string>a159</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>36.80,36.80,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i2424</key>
          <dict>
            <key>class</key>
            <string>a160</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|36.80,36.80,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>xdfgfh</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>12</integer>
        <key>rect</key>
        <string>0,0,323.35,575.25</string>
        <key>anchorX</key>
        <real>0.49992</real>
        <key>anchorY</key>
        <real>0.28866</real>
        <key>children</key>
        <dict>
          <key>i1930</key>
          <dict>
            <key>class</key>
            <string>cghg</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>161.65,409.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00|161.65,368.70,0.00,1.00000,1.00000,1.00,0,0.00,0.00|161.65,328.20,0.00,1.00000,1.00000,1.00,0,0.00,0.00|161.65,287.65,0.00,1.00000,1.00000,1.00,0,0.00,0.00|161.65,247.10,0.00,1.00000,1.00000,1.00,0,0.00,0.00|161.65,206.60,0.00,1.00000,1.00000,1.00,0,0.00,0.00|161.65,166.05,0.00,1.00000,1.00000,1.00,0,0.00,0.00|161.65,170.85,0.00,1.00000,1.00000,1.00,0,0.00,0.00|161.65,175.65,0.00,1.00000,1.00000,1.00,0,0.00,0.00|161.65,172.45,0.00,1.00000,1.00000,1.00,0,0.00,0.00|161.65,169.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i2430</key>
          <dict>
            <key>class</key>
            <string>fdgas</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||||||||161.65,166.05,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>