<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>GameIndex_0000</key>
      <dict>
        <key>frame</key>
        <string>{{128,265},{125,128}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{125.00,128.00}</string>
      </dict>
      <key>GameIndex_0001</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{126,130}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{126.00,130.00}</string>
      </dict>
      <key>GameIndex_0002</key>
      <dict>
        <key>frame</key>
        <string>{{129,1},{84,85}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{84.00,85.00}</string>
      </dict>
      <key>GameIndex_0003</key>
      <dict>
        <key>frame</key>
        <string>{{129,88},{66,66}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{66.00,66.00}</string>
      </dict>
      <key>GameIndex_0004</key>
      <dict>
        <key>frame</key>
        <string>{{129,156},{58,50}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{58.00,50.00}</string>
      </dict>
      <key>GameIndex_0005</key>
      <dict>
        <key>frame</key>
        <string>{{1,133},{126,130}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{126.00,130.00}</string>
      </dict>
      <key>GameIndex_0006</key>
      <dict>
        <key>frame</key>
        <string>{{1,265},{125,128}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{125.00,128.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.58</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>GameIndex.png</string>
      <key>realTextureFileName</key>
      <string>GameIndex.png</string>
      <key>textureFileName</key>
      <string>GameIndex.png</string>
      <key>size</key>
      <string>{328,432}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a12</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>-4.74360</real>
        <key>anchorY</key>
        <real>1.41250</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a7</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>5.07619</real>
        <key>anchorY</key>
        <real>1.40692</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>ddwtws</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50298</real>
        <key>anchorY</key>
        <real>0.47471</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>dqwrfqwt</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50227</real>
        <key>anchorY</key>
        <real>0.47879</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a159</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.51034</real>
        <key>anchorY</key>
        <real>1.56600</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>a3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>5.07619</real>
        <key>anchorY</key>
        <real>1.40692</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>a8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-4.74360</real>
        <key>anchorY</key>
        <real>1.41250</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>a13</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.12551</real>
        <key>anchorY</key>
        <real>0.93889</real>
        <key>url</key>
        <string>GameIndex/a13.png</string>
      </dict>
      <key>a162</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.00578</real>
        <key>anchorY</key>
        <real>0.96786</real>
        <key>url</key>
        <string>GameIndex/a162.png</string>
      </dict>
      <key>a165</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.50013</real>
        <key>anchorY</key>
        <real>0.49992</real>
        <key>url</key>
        <string>GameIndex/a165.png</string>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>a16</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,1.00,1.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict/>
      </dict>
      <key>a2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>46</integer>
        <key>rect</key>
        <string>0,0,840.95,850.55</string>
        <key>anchorX</key>
        <real>0.05357</real>
        <key>anchorY</key>
        <real>0.75545</real>
        <key>children</key>
        <dict>
          <key>btnPlay</key>
          <dict>
            <key>class</key>
            <string>a12</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>null||||||||||||||||||||||||||||||||||||||85.95,208.45,0.00,1.00000,1.00000,1.00,3,0.00,0.00|||||||</string>
          </dict>
          <key>i203782</key>
          <dict>
            <key>class</key>
            <string>a3</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>null||||||||||||||||||||||||||||||||||720.75,164.85,0.00,0.09999,0.09999,1.00,4,0.00,0.00|714.15,171.40,0.00,0.23570,0.23570,1.00,4,0.00,0.00|707.65,178.00,0.00,0.37143,0.37143,1.00,4,0.00,0.00|701.00,184.55,0.00,0.50714,0.50714,1.00,4,0.00,0.00|694.45,191.15,0.00,0.64284,0.64284,1.00,4,0.00,0.00|687.90,197.75,0.00,0.77855,0.77855,1.00,4,0.00,0.00|681.35,204.30,0.00,0.91428,0.91428,1.00,4,0.00,0.00|674.70,210.85,0.00,1.04999,1.04999,1.00,4,0.00,0.00|677.15,208.40,0.00,1.00000,1.00000,1.00,4,0.00,0.00|679.55,206.00,0.00,0.95000,0.95000,1.00,4,0.00,0.00|678.35,207.20,0.00,0.97501,0.97501,1.00,4,0.00,0.00|null</string>
          </dict>
          <key>btn_more</key>
          <dict>
            <key>class</key>
            <string>a7</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>null|||||||||||||||||||||||||||||||||||||||||||||677.10,208.45,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>i203595</key>
          <dict>
            <key>class</key>
            <string>a165</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>421.60,301.55,0.00,1.00000,1.00000,1.00,0,0.00,0.00|||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i203770</key>
          <dict>
            <key>class</key>
            <string>a13</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>null|||||||||||||219.20,841.80,0.00,1.00000,1.00000,1.00,2,0.00,0.00|219.20,768.80,0.00,1.00000,1.00000,1.00,2,0.00,0.00|219.20,695.80,0.00,1.00000,1.00000,1.00,2,0.00,0.00|219.20,622.75,0.00,1.00000,1.00000,1.00,2,0.00,0.00|219.20,549.75,0.00,1.00000,1.00000,1.00,2,0.00,0.00|219.20,476.75,0.00,1.00000,1.00000,1.00,2,0.00,0.00|219.20,403.75,0.00,1.00000,1.00000,1.00,2,0.00,0.00|219.20,330.70,0.00,1.00000,1.00000,1.00,2,0.00,0.00|219.20,257.70,0.00,1.00000,1.00000,1.00,2,0.00,0.00|213.10,248.70,0.00,1.02850,0.95988,1.00,2,0.00,0.00|206.95,239.70,0.00,1.05701,0.91977,1.00,2,0.00,0.00|219.65,254.70,0.00,0.99809,0.98662,1.00,2,0.00,0.00|232.25,269.70,0.00,0.93918,1.05347,1.00,2,0.00,0.00|225.70,263.70,0.00,0.96959,1.02673,1.00,2,0.00,0.00|219.20,257.70,0.00,1.00000,1.00000,1.00,2,0.00,0.00||||||||||||||||||</string>
          </dict>
          <key>i203778</key>
          <dict>
            <key>class</key>
            <string>a8</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>null|||||||||||||||||||||||||||129.60,164.85,0.00,0.09999,0.09999,1.00,3,0.00,0.00|123.00,171.40,0.00,0.23570,0.23570,1.00,3,0.00,0.00|116.40,178.00,0.00,0.37143,0.37143,1.00,3,0.00,0.00|109.85,184.55,0.00,0.50714,0.50714,1.00,3,0.00,0.00|103.25,191.15,0.00,0.64284,0.64284,1.00,3,0.00,0.00|96.65,197.75,0.00,0.77855,0.77855,1.00,3,0.00,0.00|90.15,204.30,0.00,0.91428,0.91428,1.00,3,0.00,0.00|83.55,210.85,0.00,1.04999,1.04999,1.00,3,0.00,0.00|85.95,208.40,0.00,1.00000,1.00000,1.00,3,0.00,0.00|88.35,206.00,0.00,0.95000,0.95000,1.00,3,0.00,0.00|87.15,207.20,0.00,0.97501,0.97501,1.00,3,0.00,0.00|null|||||||</string>
          </dict>
          <key>i203597</key>
          <dict>
            <key>class</key>
            <string>a162</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>304.25,538.55,0.00,1.00000,1.00000,1.00,1,0.00,0.00|||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
        </dict>
      </dict>
      <key>bhnmm</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,68.45,69.95</string>
        <key>anchorX</key>
        <real>0.49890</real>
        <key>anchorY</key>
        <real>0.49392</real>
        <key>children</key>
        <dict>
          <key>i203625</key>
          <dict>
            <key>class</key>
            <string>dqwrfqwt</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>34.15,34.55,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i203790</key>
          <dict>
            <key>class</key>
            <string>ddwtws</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|34.15,34.55,0.00,0.76666,0.76666,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>gameIndex</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,808.00,650.45</string>
        <key>anchorX</key>
        <real>0.00891</real>
        <key>anchorY</key>
        <real>0.92436</real>
        <key>children</key>
        <dict>
          <key>btn_music</key>
          <dict>
            <key>class</key>
            <string>bhnmm</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>767.60,557.85,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>stepMC</key>
          <dict>
            <key>class</key>
            <string>a2</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>31.55,642.55,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>