<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>gameindex_000000</key>
      <dict>
        <key>frame</key>
        <string>{{406,334},{179,120}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{177,118}</string>
      </dict>
      <key>gameindex_000001</key>
      <dict>
        <key>frame</key>
        <string>{{0,543},{114,80}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{112,78}</string>
      </dict>
      <key>gameindex_000002</key>
      <dict>
        <key>frame</key>
        <string>{{215,543},{89,74}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{87,72}</string>
      </dict>
      <key>gameindex_000003</key>
      <dict>
        <key>frame</key>
        <string>{{114,543},{101,64}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{99,62}</string>
      </dict>
      <key>gameindex_000004</key>
      <dict>
        <key>frame</key>
        <string>{{203,334},{203,209}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{201,207}</string>
      </dict>
      <key>gameindex_000005</key>
      <dict>
        <key>frame</key>
        <string>{{0,334},{203,209}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{201,207}</string>
      </dict>
      <key>gameindex_000006</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{471,334}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{469,332}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>gameindex.png</string>
      <key>size</key>
      <string>{672,634}</string>
      <key>textureFileName</key>
      <string>gameindex.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asset20</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.58757</real>
        <key>anchorY</key>
        <real>0.50847</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset22</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.05268</real>
        <key>anchorY</key>
        <real>0.09038</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset24</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.02644</real>
        <key>anchorY</key>
        <real>-0.01042</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>asset25</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.23131</real>
        <key>anchorY</key>
        <real>-0.05726</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>asset28</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51468</real>
        <key>anchorY</key>
        <real>0.54203</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>asset29</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51468</real>
        <key>anchorY</key>
        <real>0.54203</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>asset30</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49936</real>
        <key>anchorY</key>
        <real>0.52937</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>asset26</key>
      <dict>
        <key>type</key>
        <string>jpg</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>url</key>
        <string>gameindex/asset26.jpg</string>
      </dict>
      <key>asset27</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.49989</real>
        <key>anchorY</key>
        <real>0.50589</real>
        <key>url</key>
        <string>gameindex/asset27.png</string>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>game1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,480.00,800.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>btn_play</key>
          <dict>
            <key>class</key>
            <string>asset29</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>372.80,209.30,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i1290</key>
          <dict>
            <key>class</key>
            <string>asset27</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>240.50,402.20,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>btn_more</key>
          <dict>
            <key>class</key>
            <string>asset28</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>113.35,209.30,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i1288</key>
          <dict>
            <key>class</key>
            <string>asset26</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>240.00,400.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i1313</key>
          <dict>
            <key>class</key>
            <string>asset30</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>241.25,507.90,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>