<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>gamestory_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,1120},{411,60}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{409,58}</string>
      </dict>
      <key>gamestory_000001</key>
      <dict>
        <key>frame</key>
        <string>{{804,0},{312,267}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{310,265}</string>
      </dict>
      <key>gamestory_000002</key>
      <dict>
        <key>frame</key>
        <string>{{789,891},{315,263}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{313,261}</string>
      </dict>
      <key>gamestory_000003</key>
      <dict>
        <key>frame</key>
        <string>{{789,1154},{315,263}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{313,261}</string>
      </dict>
      <key>gamestory_000004</key>
      <dict>
        <key>frame</key>
        <string>{{0,1180},{381,332}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{379,330}</string>
      </dict>
      <key>gamestory_000005</key>
      <dict>
        <key>frame</key>
        <string>{{0,203},{451,277}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{449,275}</string>
      </dict>
      <key>gamestory_000006</key>
      <dict>
        <key>frame</key>
        <string>{{451,203},{353,344}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{351,342}</string>
      </dict>
      <key>gamestory_000007</key>
      <dict>
        <key>frame</key>
        <string>{{451,547},{353,344}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{351,342}</string>
      </dict>
      <key>gamestory_000008</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{482,203}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{480,201}</string>
      </dict>
      <key>gamestory_000009</key>
      <dict>
        <key>frame</key>
        <string>{{1056,267},{252,259}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{250,257}</string>
      </dict>
      <key>gamestory_000010</key>
      <dict>
        <key>frame</key>
        <string>{{0,941},{433,179}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{431,177}</string>
      </dict>
      <key>gamestory_000011</key>
      <dict>
        <key>frame</key>
        <string>{{0,480},{451,461}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{449,459}</string>
      </dict>
      <key>gamestory_000012</key>
      <dict>
        <key>frame</key>
        <string>{{433,941},{356,545}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{354,543}</string>
      </dict>
      <key>gamestory_000013</key>
      <dict>
        <key>frame</key>
        <string>{{482,0},{216,158}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{214,156}</string>
      </dict>
      <key>gamestory_000014</key>
      <dict>
        <key>frame</key>
        <string>{{804,526},{252,259}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{250,257}</string>
      </dict>
      <key>gamestory_000015</key>
      <dict>
        <key>frame</key>
        <string>{{804,267},{252,259}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{250,257}</string>
      </dict>
      <key>gamestory_000016</key>
      <dict>
        <key>frame</key>
        <string>{{451,891},{60,45}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{58,43}</string>
      </dict>
      <key>gamestory_000017</key>
      <dict>
        <key>frame</key>
        <string>{{789,1417},{116,89}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{114,87}</string>
      </dict>
      <key>gamestory_000018</key>
      <dict>
        <key>frame</key>
        <string>{{698,0},{94,149}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{92,147}</string>
      </dict>
      <key>gamestory_000019</key>
      <dict>
        <key>frame</key>
        <string>{{1056,526},{116,225}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{114,223}</string>
      </dict>
      <key>gamestory_000020</key>
      <dict>
        <key>frame</key>
        <string>{{381,1486},{119,56}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{117,54}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>gamestory.png</string>
      <key>size</key>
      <string>{1382,1546}</string>
      <key>textureFileName</key>
      <string>gamestory.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asset10</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.33741</real>
        <key>anchorY</key>
        <real>0.10345</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset11</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.29032</real>
        <key>anchorY</key>
        <real>0.25660</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset12</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.29712</real>
        <key>anchorY</key>
        <real>0.22605</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>asset13</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.29712</real>
        <key>anchorY</key>
        <real>0.22605</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>asset14</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.35092</real>
        <key>anchorY</key>
        <real>0.28485</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>asset15</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.27617</real>
        <key>anchorY</key>
        <real>0.28364</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>asset17</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.31624</real>
        <key>anchorY</key>
        <real>0.28363</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>asset18</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.31624</real>
        <key>anchorY</key>
        <real>0.28363</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>asset19</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.28750</real>
        <key>anchorY</key>
        <real>1.41294</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>asset2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>asset20</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.27610</real>
        <key>anchorY</key>
        <real>1.16949</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>asset21</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.27394</real>
        <key>anchorY</key>
        <real>0.47277</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>asset26</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.09322</real>
        <key>anchorY</key>
        <real>1.03683</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>asset27</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-1.80841</real>
        <key>anchorY</key>
        <real>1.00641</real>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
      <key>asset3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>14</integer>
        <key>end</key>
        <integer>14</integer>
      </dict>
      <key>asset4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>15</integer>
        <key>end</key>
        <integer>15</integer>
      </dict>
      <key>asset5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>5.39655</real>
        <key>anchorY</key>
        <real>2.81395</real>
        <key>start</key>
        <integer>16</integer>
        <key>end</key>
        <integer>16</integer>
      </dict>
      <key>asset6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>2.76316</real>
        <key>anchorY</key>
        <real>2.91954</real>
        <key>start</key>
        <integer>17</integer>
        <key>end</key>
        <integer>17</integer>
      </dict>
      <key>asset7</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>3.39130</real>
        <key>anchorY</key>
        <real>1.57143</real>
        <key>start</key>
        <integer>18</integer>
        <key>end</key>
        <integer>18</integer>
      </dict>
      <key>asset9</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>2.75921</real>
        <key>anchorY</key>
        <real>1.17937</real>
        <key>start</key>
        <integer>19</integer>
        <key>end</key>
        <integer>19</integer>
      </dict>
      <key>sprite106</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.00855</real>
        <key>anchorY</key>
        <real>1.01852</real>
        <key>start</key>
        <integer>20</integer>
        <key>end</key>
        <integer>20</integer>
      </dict>
      <key>asset23</key>
      <dict>
        <key>type</key>
        <string>jpg</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>url</key>
        <string>gamestory/asset23.jpg</string>
      </dict>
      <key>asset24</key>
      <dict>
        <key>type</key>
        <string>jpg</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>url</key>
        <string>gamestory/asset24.jpg</string>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>asset25</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>190</integer>
        <key>rect</key>
        <string>0,0,601.00,157.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i1697139</key>
          <dict>
            <key>class</key>
            <string>asset27</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||||||||0.00,157.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00||||null||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i1697141</key>
          <dict>
            <key>class</key>
            <string>asset27</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||||||||||||||||||||||||||||||0.00,157.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00||||null|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i1696907</key>
          <dict>
            <key>class</key>
            <string>asset27</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>-387.00,158.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i1697143</key>
          <dict>
            <key>class</key>
            <string>asset27</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||0.00,157.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00||||null||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
        </dict>
      </dict>
      <key>asset31</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,1109.00,600.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>angla</key>
          <dict>
            <key>class</key>
            <string>sprite251</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>309.00,563.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>next_btn</key>
          <dict>
            <key>class</key>
            <string>sprite106</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>861.00,255.05,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i1696933</key>
          <dict>
            <key>class</key>
            <string>asset24</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>709.00,300.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>gamestory</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,1109.00,600.00</string>
        <key>anchorX</key>
        <real>0.63931</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>s1</key>
          <dict>
            <key>class</key>
            <string>s1</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>299.40,600.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>s2</key>
          <dict>
            <key>class</key>
            <string>asset31</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,600.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>s1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,809.60,600.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i1697026</key>
          <dict>
            <key>class</key>
            <string>asset23</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>409.60,300.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>angla</key>
          <dict>
            <key>class</key>
            <string>sprite217</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>324.00,283.60,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>sprite217</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>271</integer>
        <key>rect</key>
        <string>0,0,769.00,598.00</string>
        <key>anchorX</key>
        <real>0.42133</real>
        <key>anchorY</key>
        <real>0.47324</real>
        <key>children</key>
        <dict>
          <key>i1697165</key>
          <dict>
            <key>class</key>
            <string>asset4</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>null||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||519.00,598.00,0.00,1.00000,1.00000,0.00,7,0.00,0.00|519.00,598.00,0.00,1.00000,1.00000,0.34,7,0.00,0.00|519.00,598.00,0.00,1.00000,1.00000,0.67,7,0.00,0.00|519.00,598.00,0.00,1.00000,1.00000,1.00,7,0.00,0.00||||||||||||||||||||||||||519.00,598.00,0.00,1.00000,1.00000,0.66,7,0.00,0.00|519.00,598.00,0.00,1.00000,1.00000,0.33,7,0.00,0.00|519.00,598.00,0.00,1.00000,1.00000,0.00,7,0.00,0.00|||||||||||||||||||||||||</string>
          </dict>
          <key>i1697068</key>
          <dict>
            <key>class</key>
            <string>asset20</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>324.00,283.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||null||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i1697157</key>
          <dict>
            <key>class</key>
            <string>asset15</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>null||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00|||||||||||null|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i1697070</key>
          <dict>
            <key>class</key>
            <string>asset19</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>335.00,284.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i1697149</key>
          <dict>
            <key>class</key>
            <string>asset3</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>null|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||519.00,598.00,0.00,1.00000,1.00000,0.00,9,0.00,0.00|519.00,598.00,0.00,1.00000,1.00000,0.34,9,0.00,0.00|519.00,598.00,0.00,1.00000,1.00000,0.67,9,0.00,0.00|519.00,598.00,0.00,1.00000,1.00000,1.00,9,0.00,0.00||||||||||||||||||||||||||519.00,598.00,0.00,1.00000,1.00000,0.66,9,0.00,0.00|519.00,598.00,0.00,1.00000,1.00000,0.33,9,0.00,0.00|519.00,598.00,0.00,1.00000,1.00000,0.00,9,0.00,0.00||||||||||519.00,598.00,0.00,1.00000,1.00000,0.00,6,0.00,0.00||||||||519.00,598.00,0.00,1.00000,1.00000,0.00,7,0.00,0.00|||||||||||519.00,598.00,0.00,1.00000,1.00000,0.00,6,0.00,0.00||||||||||||||519.00,598.00,0.00,1.00000,1.00000,0.00,7,0.00,0.00|||||||||||519.00,598.00,0.00,1.00000,1.00000,0.00,6,0.00,0.00||||||||||||||||||||||||||519.00,598.00,0.00,1.00000,1.00000,0.00,7,0.00,0.00||||||||||||||null||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i1697072</key>
          <dict>
            <key>class</key>
            <string>asset14</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>324.00,283.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||null||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i1697167</key>
          <dict>
            <key>class</key>
            <string>asset18</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>null||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i1697163</key>
          <dict>
            <key>class</key>
            <string>asset17</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>null||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00||||||||||||||||||||||null||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i1697082</key>
          <dict>
            <key>class</key>
            <string>asset5</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>324.00,283.00,0.00,1.00000,1.00000,1.00,7,0.00,0.00|||||||||||||||||||||||||||||||||||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,8,0.00,0.00|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,5,0.00,0.00||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,6,0.00,0.00|||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,5,0.00,0.00||||||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,6,0.00,0.00|||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,5,0.00,0.00||||||||||||||||||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,6,0.00,0.00||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i1697155</key>
          <dict>
            <key>class</key>
            <string>asset21</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||null||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i1697076</key>
          <dict>
            <key>class</key>
            <string>asset9</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>324.00,283.00,0.00,1.00000,1.00000,1.00,4,0.00,0.00|||||||||||||||||||||||||||||||||||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,5,0.00,0.00|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00|||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00||||||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00|||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00||||||||||||||||||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i1697080</key>
          <dict>
            <key>class</key>
            <string>asset6</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>324.00,283.00,0.00,1.00000,1.00000,1.00,6,0.00,0.00|||||||||||||||||||||||||||||||||||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,7,0.00,0.00|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,4,0.00,0.00||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,5,0.00,0.00|||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,4,0.00,0.00||||||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,5,0.00,0.00|||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,4,0.00,0.00||||||||||||||||||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,5,0.00,0.00||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i1697147</key>
          <dict>
            <key>class</key>
            <string>asset11</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>null|||||||||||||||||||||||||||||||||||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||null||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i1697074</key>
          <dict>
            <key>class</key>
            <string>asset10</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>324.00,283.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00|||||||||||||||||||||||||||||||||||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,4,0.00,0.00|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||null||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i1697145</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>null|||||||||||||||||||||||||||||||519.00,598.00,0.00,1.00000,1.00000,0.00,8,0.00,0.00|519.00,598.00,0.00,1.00000,1.00000,0.34,8,0.00,0.00|519.00,598.00,0.00,1.00000,1.00000,0.67,8,0.00,0.00|519.00,598.00,0.00,1.00000,1.00000,1.00,8,0.00,0.00|||||||||519.00,598.00,0.00,1.00000,1.00000,1.00,9,0.00,0.00||||519.00,598.00,0.00,1.00000,1.00000,0.66,9,0.00,0.00|519.00,598.00,0.00,1.00000,1.00000,0.33,9,0.00,0.00|519.00,598.00,0.00,1.00000,1.00000,0.00,9,0.00,0.00||||||||||||||||||||||||||||||||||||||||null|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i1697161</key>
          <dict>
            <key>class</key>
            <string>asset20</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i1697153</key>
          <dict>
            <key>class</key>
            <string>asset13</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>null|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00|||||||||null||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i1697078</key>
          <dict>
            <key>class</key>
            <string>asset7</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>324.00,283.00,0.00,1.00000,1.00000,1.00,5,0.00,0.00|||||||||||||||||||||||||||||||||||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,6,0.00,0.00|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,4,0.00,0.00|||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00||||||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,4,0.00,0.00|||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00||||||||||||||||||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,4,0.00,0.00||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i1697159</key>
          <dict>
            <key>class</key>
            <string>asset15</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>null|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00|||||||||||null||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i1697151</key>
          <dict>
            <key>class</key>
            <string>asset12</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>null||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||324.00,283.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00|||||||||null|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
        </dict>
      </dict>
      <key>sprite251</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,696.00,563.00</string>
        <key>anchorX</key>
        <real>0.44397</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i1697108</key>
          <dict>
            <key>class</key>
            <string>asset26</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>309.00,563.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i1697110</key>
          <dict>
            <key>class</key>
            <string>asset25</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>0.00,485.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>