<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>effect_0000</key>
      <dict>
        <key>frame</key>
        <string>{{263,181},{57,58}}</string>
        <key>offset</key>
        <string>{1.40,1.45}</string>
        <key>sourceSize</key>
        <string>{260.00,267.00}</string>
      </dict>
      <key>effect_0001</key>
      <dict>
        <key>frame</key>
        <string>{{547,1},{83,88}}</string>
        <key>offset</key>
        <string>{1.40,-1.55}</string>
        <key>sourceSize</key>
        <string>{260.00,267.00}</string>
      </dict>
      <key>effect_0002</key>
      <dict>
        <key>frame</key>
        <string>{{440,1},{105,111}}</string>
        <key>offset</key>
        <string>{1.40,-1.05}</string>
        <key>sourceSize</key>
        <string>{260.00,267.00}</string>
      </dict>
      <key>effect_0003</key>
      <dict>
        <key>frame</key>
        <string>{{440,609},{108,111}}</string>
        <key>offset</key>
        <string>{2.90,-1.05}</string>
        <key>sourceSize</key>
        <string>{260.00,267.00}</string>
      </dict>
      <key>effect_0004</key>
      <dict>
        <key>frame</key>
        <string>{{440,474},{127,133}}</string>
        <key>offset</key>
        <string>{1.40,-1.05}</string>
        <key>sourceSize</key>
        <string>{260.00,267.00}</string>
      </dict>
      <key>effect_0005</key>
      <dict>
        <key>frame</key>
        <string>{{436,338},{139,134}}</string>
        <key>offset</key>
        <string>{3.40,-0.55}</string>
        <key>sourceSize</key>
        <string>{260.00,267.00}</string>
      </dict>
      <key>effect_0006</key>
      <dict>
        <key>frame</key>
        <string>{{436,181},{158,155}}</string>
        <key>offset</key>
        <string>{2.90,-1.05}</string>
        <key>sourceSize</key>
        <string>{260.00,267.00}</string>
      </dict>
      <key>effect_0007</key>
      <dict>
        <key>frame</key>
        <string>{{263,1},{175,178}}</string>
        <key>offset</key>
        <string>{2.40,-0.55}</string>
        <key>sourceSize</key>
        <string>{260.00,267.00}</string>
      </dict>
      <key>effect_0008</key>
      <dict>
        <key>frame</key>
        <string>{{240,270},{194,200}}</string>
        <key>offset</key>
        <string>{0.90,-0.55}</string>
        <key>sourceSize</key>
        <string>{260.00,267.00}</string>
      </dict>
      <key>effect_0009</key>
      <dict>
        <key>frame</key>
        <string>{{226,516},{212,215}}</string>
        <key>offset</key>
        <string>{-1.10,-3.05}</string>
        <key>sourceSize</key>
        <string>{260.00,267.00}</string>
      </dict>
      <key>effect_0010</key>
      <dict>
        <key>frame</key>
        <string>{{1,516},{223,222}}</string>
        <key>offset</key>
        <string>{-3.60,-0.10}</string>
        <key>sourceSize</key>
        <string>{260.00,267.00}</string>
      </dict>
      <key>effect_0011</key>
      <dict>
        <key>frame</key>
        <string>{{1,270},{237,244}}</string>
        <key>offset</key>
        <string>{-0.15,0.15}</string>
        <key>sourceSize</key>
        <string>{260.00,267.00}</string>
      </dict>
      <key>effect_0012</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{260,267}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{260.00,267.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.53</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>effect.png</string>
      <key>realTextureFileName</key>
      <string>effect.png</string>
      <key>textureFileName</key>
      <string>effect.png</string>
      <key>size</key>
      <string>{662,770}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>effect</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51442</real>
        <key>anchorY</key>
        <real>0.50094</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
    </dict>
  </dict>
</plist>