<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>gameindex_0000</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{113,73}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{113.00,73.00}</string>
      </dict>
      <key>gameindex_0001</key>
      <dict>
        <key>frame</key>
        <string>{{1,76},{113,77}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{113.00,77.00}</string>
      </dict>
      <key>gameindex_0002</key>
      <dict>
        <key>frame</key>
        <string>{{116,60},{56,57}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{56.00,57.00}</string>
      </dict>
      <key>gameindex_0003</key>
      <dict>
        <key>frame</key>
        <string>{{116,1},{56,57}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{56.00,57.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.so</string>
      <key>version</key>
      <real>2.51</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>gameindex.png</string>
      <key>realTextureFileName</key>
      <string>gameindex.png</string>
      <key>textureFileName</key>
      <string>gameindex.png</string>
      <key>size</key>
      <string>{216,180}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asset1</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset2</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>asset6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>asset4</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>-0.00928</real>
        <key>anchorY</key>
        <real>1.00821</real>
        <key>url</key>
        <string>gameindex/asset4.png</string>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>asset3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,56.10,57.10</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i1122024</key>
          <dict>
            <key>class</key>
            <string>asset6</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|0.00,57.10,0.00,1.00195,1.00195,1.00,0,0.00,0.00</string>
          </dict>
          <key>i1121940</key>
          <dict>
            <key>class</key>
            <string>asset5</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,57.10,0.00,1.00195,1.00195,1.00,0,0.00,0.00|null</string>
          </dict>
        </dict>
      </dict>
      <key>gameindex</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,647.15,488.05</string>
        <key>anchorX</key>
        <real>0.01113</real>
        <key>anchorY</key>
        <real>0.01639</real>
        <key>children</key>
        <dict>
          <key>btn_play</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>547.35,74.35,0.00,0.79968,0.79869,1.00,2,0.00,0.00</string>
          </dict>
          <key>btn_music</key>
          <dict>
            <key>class</key>
            <string>asset3</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>557.85,474.25,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i1121966</key>
          <dict>
            <key>class</key>
            <string>asset4</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>1.20,492.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>btn_more</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>14.40,74.35,0.00,0.79968,0.79921,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>