<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>indexScene_0000</key>
      <dict>
        <key>frame</key>
        <string>{{1,323},{1,1}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{1.00,1.00}</string>
      </dict>
      <key>indexScene_0001</key>
      <dict>
        <key>frame</key>
        <string>{{1,320},{1,1}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{1.00,1.00}</string>
      </dict>
      <key>indexScene_0002</key>
      <dict>
        <key>frame</key>
        <string>{{209,82},{79,79}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{79.00,79.00}</string>
      </dict>
      <key>indexScene_0003</key>
      <dict>
        <key>frame</key>
        <string>{{128,239},{79,79}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{79.00,79.00}</string>
      </dict>
      <key>indexScene_0004</key>
      <dict>
        <key>frame</key>
        <string>{{1,158},{125,125}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{125.00,125.00}</string>
      </dict>
      <key>indexScene_0005</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{156,155}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{156.00,155.00}</string>
      </dict>
      <key>indexScene_0006</key>
      <dict>
        <key>frame</key>
        <string>{{159,1},{79,79}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{79.00,79.00}</string>
      </dict>
      <key>indexScene_0007</key>
      <dict>
        <key>frame</key>
        <string>{{128,158},{79,79}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{79.00,79.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.53</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>indexScene.png</string>
      <key>realTextureFileName</key>
      <string>indexScene.png</string>
      <key>textureFileName</key>
      <string>indexScene.png</string>
      <key>size</key>
      <string>{358,358}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a10</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>1.00000</real>
        <key>anchorY</key>
        <real>0.00000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a11</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>1.00000</real>
        <key>anchorY</key>
        <real>0.00000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a12</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.53165</real>
        <key>anchorY</key>
        <real>0.47468</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>a13</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.53165</real>
        <key>anchorY</key>
        <real>0.47468</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.03200</real>
        <key>anchorY</key>
        <real>1.04800</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>a9</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.52244</real>
        <key>anchorY</key>
        <real>0.48065</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>gaaa</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.53165</real>
        <key>anchorY</key>
        <real>0.47468</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>gjhn</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.53165</real>
        <key>anchorY</key>
        <real>0.47468</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>gfd</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.25569</real>
        <key>anchorY</key>
        <real>0.53950</real>
        <key>url</key>
        <string>indexScene/gfd.png</string>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>dfgs</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,566.50,51.25</string>
        <key>anchorX</key>
        <real>0.99823</real>
        <key>anchorY</key>
        <real>0.01951</real>
        <key>children</key>
        <dict>
          <key>i153340</key>
          <dict>
            <key>class</key>
            <string>a10</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>-17.45,75.95,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
        </dict>
      </dict>
      <key>dga</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,169.00,169.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i153365</key>
          <dict>
            <key>class</key>
            <string>a9</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>84.50,84.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>fgbs</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,1.00,1.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i153391</key>
          <dict>
            <key>class</key>
            <string>a11</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>-156.95,44.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
        </dict>
      </dict>
      <key>hsss</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,139.00,141.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i153416</key>
          <dict>
            <key>class</key>
            <string>a8</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,141.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>indx</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,802.05,600.05</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i153442</key>
          <dict>
            <key>class</key>
            <string>gfd</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>204.60,323.70,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>btn_music</key>
          <dict>
            <key>class</key>
            <string>kfy</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>757.05,548.85,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>btn_more</key>
          <dict>
            <key>class</key>
            <string>hsss</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>526.95,82.25,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>btn_play</key>
          <dict>
            <key>class</key>
            <string>dga</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>531.95,237.25,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>kfy</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,90.00,87.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i153474</key>
          <dict>
            <key>class</key>
            <string>a12</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>45.00,43.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i153558</key>
          <dict>
            <key>class</key>
            <string>a13</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|45.00,43.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>vbhs</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,105.15,38.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict/>
      </dict>
    </dict>
  </dict>
</plist>