<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>end_0000</key>
      <dict>
        <key>frame</key>
        <string>{{160,1},{45,41}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{45.00,41.00}</string>
      </dict>
      <key>end_0001</key>
      <dict>
        <key>frame</key>
        <string>{{98,1},{60,58}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{60.00,58.00}</string>
      </dict>
      <key>end_0002</key>
      <dict>
        <key>frame</key>
        <string>{{97,94},{61,59}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{61.00,59.00}</string>
      </dict>
      <key>end_0003</key>
      <dict>
        <key>frame</key>
        <string>{{86,187},{83,83}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{83.00,83.00}</string>
      </dict>
      <key>end_0004</key>
      <dict>
        <key>frame</key>
        <string>{{1,94},{94,91}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{94.00,91.00}</string>
      </dict>
      <key>end_0005</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{95,91}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{95.00,91.00}</string>
      </dict>
      <key>end_0006</key>
      <dict>
        <key>frame</key>
        <string>{{1,187},{83,83}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{83.00,83.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.53</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>end.png</string>
      <key>realTextureFileName</key>
      <string>end.png</string>
      <key>textureFileName</key>
      <string>end.png</string>
      <key>size</key>
      <string>{298,294}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a83</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.51111</real>
        <key>anchorY</key>
        <real>0.46341</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a85</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.01667</real>
        <key>anchorY</key>
        <real>1.01724</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a86</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.01639</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>dhgdh</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.49398</real>
        <key>anchorY</key>
        <real>0.50602</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>dwqtqwt</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.01099</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>dwsrtqwt</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.01099</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>fgjhfj</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.49398</real>
        <key>anchorY</key>
        <real>0.50602</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>fh</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00163</real>
        <key>url</key>
        <string>end/fh.png</string>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>a84</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,56.15,54.00</string>
        <key>anchorX</key>
        <real>0.57079</real>
        <key>anchorY</key>
        <real>0.52778</real>
        <key>children</key>
        <dict>
          <key>i7641135</key>
          <dict>
            <key>class</key>
            <string>a83</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|32.05,26.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>end</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,807.70,620.70</string>
        <key>anchorX</key>
        <real>0.01139</real>
        <key>anchorY</key>
        <real>0.98711</real>
        <key>children</key>
        <dict>
          <key>btn_music</key>
          <dict>
            <key>class</key>
            <string>ghjmgk</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>742.80,610.75,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i7641043</key>
          <dict>
            <key>class</key>
            <string>fh</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>6.20,614.70,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>replaybut</key>
          <dict>
            <key>class</key>
            <string>dwqtqwt</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>665.90,138.90,0.00,1.41284,1.41284,1.00,4,0.00,0.00</string>
          </dict>
          <key>moregames</key>
          <dict>
            <key>class</key>
            <string>dwsrtqwt</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>16.40,139.90,0.00,1.41299,1.41299,1.00,3,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>ghjmgk</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,56.75,54.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i7641137</key>
          <dict>
            <key>class</key>
            <string>a86</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|0.00,54.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i7641081</key>
          <dict>
            <key>class</key>
            <string>a85</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,54.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>