<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>GameEnd_0000</key>
      <dict>
        <key>frame</key>
        <string>{{345,102},{61,61}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{61.00,61.00}</string>
      </dict>
      <key>GameEnd_0001</key>
      <dict>
        <key>frame</key>
        <string>{{309,264},{61,61}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{61.00,61.00}</string>
      </dict>
      <key>GameEnd_0002</key>
      <dict>
        <key>frame</key>
        <string>{{143,236},{81,81}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{81.00,81.00}</string>
      </dict>
      <key>GameEnd_0003</key>
      <dict>
        <key>frame</key>
        <string>{{226,236},{81,81}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{81.00,81.00}</string>
      </dict>
      <key>GameEnd_0004</key>
      <dict>
        <key>frame</key>
        <string>{{1,155},{140,140}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{140.00,140.00}</string>
      </dict>
      <key>GameEnd_0005</key>
      <dict>
        <key>frame</key>
        <string>{{309,177},{71,85}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{71.00,85.00}</string>
      </dict>
      <key>GameEnd_0006</key>
      <dict>
        <key>frame</key>
        <string>{{266,102},{77,73}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{77.00,73.00}</string>
      </dict>
      <key>GameEnd_0007</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{564,99}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{564.00,99.00}</string>
      </dict>
      <key>GameEnd_0008</key>
      <dict>
        <key>frame</key>
        <string>{{1,102},{150,51}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{150.00,51.00}</string>
      </dict>
      <key>GameEnd_0009</key>
      <dict>
        <key>frame</key>
        <string>{{143,155},{121,79}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{121.00,79.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.58</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>GameEnd.png</string>
      <key>realTextureFileName</key>
      <string>GameEnd.png</string>
      <key>textureFileName</key>
      <string>GameEnd.png</string>
      <key>size</key>
      <string>{666,342}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a9</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.49590</real>
        <key>anchorY</key>
        <real>0.50410</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>bh</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.49590</real>
        <key>anchorY</key>
        <real>0.50410</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>buttonmore</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.49815</real>
        <key>anchorY</key>
        <real>0.50185</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>buttonreplay</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.49815</real>
        <key>anchorY</key>
        <real>0.50185</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a13</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49857</real>
        <key>anchorY</key>
        <real>0.50143</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>a14</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49789</real>
        <key>anchorY</key>
        <real>0.49529</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>a15</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50584</real>
        <key>anchorY</key>
        <real>0.50205</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>a2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50018</real>
        <key>anchorY</key>
        <real>0.49899</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>a3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50588</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>a7</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>a1</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>url</key>
        <string>GameEnd/a1.png</string>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>buttonmusicgsdg</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,60.55,60.50</string>
        <key>anchorX</key>
        <real>0.49959</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i16473</key>
          <dict>
            <key>class</key>
            <string>a9</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|30.25,30.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i16379</key>
          <dict>
            <key>class</key>
            <string>bh</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>30.25,30.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
        </dict>
      </dict>
      <key>gameEnd</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,640.00,500.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>pontosFimTxt</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>232.00,164.10,0.00,1.00000,1.00000,1.00,2,0.00,0.00,Arial,40,#FFF9F8,center,176,49</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <false/>
          </dict>
          <key>i16414</key>
          <dict>
            <key>class</key>
            <string>a3</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>319.10,192.80,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>btn_more</key>
          <dict>
            <key>class</key>
            <string>buttonmore</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>67.00,45.60,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>i16408</key>
          <dict>
            <key>class</key>
            <string>a1</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>320.00,250.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i16410</key>
          <dict>
            <key>class</key>
            <string>a7</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>229.00,222.50,0.00,1.48743,1.37634,1.00,1,0.00,0.00</string>
          </dict>
          <key>i16412</key>
          <dict>
            <key>class</key>
            <string>a2</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>320.60,338.90,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>mcVoltar</key>
          <dict>
            <key>class</key>
            <string>buttonreplay</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>561.85,52.10,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>btn_music</key>
          <dict>
            <key>class</key>
            <string>buttonmusicgsdg</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>587.55,448.80,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>