<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>indexScene_0000</key>
      <dict>
        <key>frame</key>
        <string>{{114,87},{82,84}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{82.00,84.00}</string>
      </dict>
      <key>indexScene_0001</key>
      <dict>
        <key>frame</key>
        <string>{{114,1},{82,84}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{82.00,84.00}</string>
      </dict>
      <key>indexScene_0002</key>
      <dict>
        <key>frame</key>
        <string>{{1,118},{111,115}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{111.00,115.00}</string>
      </dict>
      <key>indexScene_0003</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{111,115}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{111.00,115.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.53</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>indexScene.png</string>
      <key>realTextureFileName</key>
      <string>indexScene.png</string>
      <key>textureFileName</key>
      <string>indexScene.png</string>
      <key>size</key>
      <string>{214,318}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a79</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50183</real>
        <key>anchorY</key>
        <real>0.50476</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>vdhs</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50183</real>
        <key>anchorY</key>
        <real>0.50476</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a80</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50135</real>
        <key>anchorY</key>
        <real>0.49870</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>a81</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50135</real>
        <key>anchorY</key>
        <real>0.49870</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>fsdh</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.49642</real>
        <key>url</key>
        <string>indexScene/fsdh.png</string>
      </dict>
      <key>ghjdcf</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.49672</real>
        <key>anchorY</key>
        <real>0.50792</real>
        <key>url</key>
        <string>indexScene/ghjdcf.png</string>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>dfsa</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,109.30,113.35</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50022</real>
        <key>children</key>
        <dict>
          <key>i787</key>
          <dict>
            <key>class</key>
            <string>a80</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>54.65,56.70,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>fdhsdf</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,109.30,113.35</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50022</real>
        <key>children</key>
        <dict>
          <key>i815</key>
          <dict>
            <key>class</key>
            <string>a81</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>54.65,56.70,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>indx</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,808.00,608.00</string>
        <key>anchorX</key>
        <real>0.00891</real>
        <key>anchorY</key>
        <real>0.98684</real>
        <key>children</key>
        <dict>
          <key>i843</key>
          <dict>
            <key>class</key>
            <string>fsdh</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>408.00,298.35,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>moregames</key>
          <dict>
            <key>class</key>
            <string>fdhsdf</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>79.65,92.80,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>playBut</key>
          <dict>
            <key>class</key>
            <string>dfsa</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>726.30,92.80,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>btn_music</key>
          <dict>
            <key>class</key>
            <string>vcnsd</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>740.80,539.70,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>i861</key>
          <dict>
            <key>class</key>
            <string>ghjdcf</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>407.35,179.55,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>vcnsd</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,80.30,83.25</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50030</real>
        <key>children</key>
        <dict>
          <key>i996</key>
          <dict>
            <key>class</key>
            <string>vdhs</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|40.15,41.65,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i901</key>
          <dict>
            <key>class</key>
            <string>a79</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>40.15,41.65,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>