<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>animGame_0000</key>
      <dict>
        <key>frame</key>
        <string>{{477,529},{69,69}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{69.00,69.00}</string>
      </dict>
      <key>animGame_0001</key>
      <dict>
        <key>frame</key>
        <string>{{460,216},{71,71}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{71.00,71.00}</string>
      </dict>
      <key>animGame_0002</key>
      <dict>
        <key>frame</key>
        <string>{{459,417},{110,110}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{110.00,110.00}</string>
      </dict>
      <key>animGame_0003</key>
      <dict>
        <key>frame</key>
        <string>{{364,1},{119,119}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{119.00,119.00}</string>
      </dict>
      <key>animGame_0004</key>
      <dict>
        <key>frame</key>
        <string>{{1,624},{23,20}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{23.00,20.00}</string>
      </dict>
      <key>animGame_0005</key>
      <dict>
        <key>frame</key>
        <string>{{248,588},{120,46}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{120.00,46.00}</string>
      </dict>
      <key>animGame_0006</key>
      <dict>
        <key>frame</key>
        <string>{{370,588},{105,45}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{105.00,45.00}</string>
      </dict>
      <key>animGame_0007</key>
      <dict>
        <key>frame</key>
        <string>{{348,341},{25,24}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{25.00,24.00}</string>
      </dict>
      <key>animGame_0008</key>
      <dict>
        <key>frame</key>
        <string>{{249,341},{97,33}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{97.00,33.00}</string>
      </dict>
      <key>animGame_0009</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{361,127}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{361.00,127.00}</string>
      </dict>
      <key>animGame_0010</key>
      <dict>
        <key>frame</key>
        <string>{{459,341},{111,74}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{111.00,74.00}</string>
      </dict>
      <key>animGame_0011</key>
      <dict>
        <key>frame</key>
        <string>{{249,130},{209,209}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{209.00,209.00}</string>
      </dict>
      <key>animGame_0012</key>
      <dict>
        <key>frame</key>
        <string>{{1,377},{245,245}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{245.00,245.00}</string>
      </dict>
      <key>animGame_0013</key>
      <dict>
        <key>frame</key>
        <string>{{460,122},{100,92}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{100.00,92.00}</string>
      </dict>
      <key>animGame_0014</key>
      <dict>
        <key>frame</key>
        <string>{{248,377},{209,209}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{209.00,209.00}</string>
      </dict>
      <key>animGame_0015</key>
      <dict>
        <key>frame</key>
        <string>{{1,130},{246,245}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{246.00,245.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.53</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>animGame.png</string>
      <key>realTextureFileName</key>
      <string>animGame.png</string>
      <key>textureFileName</key>
      <string>animGame.png</string>
      <key>size</key>
      <string>{664,648}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a5</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>-0.04348</real>
        <key>anchorY</key>
        <real>1.04348</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a6</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>-0.04225</real>
        <key>anchorY</key>
        <real>1.04225</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>sprite210</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.66364</real>
        <key>anchorY</key>
        <real>0.43636</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>sprite213</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.30588</real>
        <key>anchorY</key>
        <real>0.50336</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a22</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49130</real>
        <key>anchorY</key>
        <real>0.50250</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>a23</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.45326</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>a24</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.52905</real>
        <key>anchorY</key>
        <real>0.55333</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>a25</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51600</real>
        <key>anchorY</key>
        <real>0.50625</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>a26</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.52577</real>
        <key>anchorY</key>
        <real>0.37121</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>a28</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50276</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>a32</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>1.39550</real>
        <key>anchorY</key>
        <real>1.90135</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>a35</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.05742</real>
        <key>anchorY</key>
        <real>1.13397</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>a36</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.37082</real>
        <key>anchorY</key>
        <real>0.42714</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>a42</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.37850</real>
        <key>anchorY</key>
        <real>-0.87772</real>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
      <key>a49</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.14354</real>
        <key>anchorY</key>
        <real>1.08134</real>
        <key>start</key>
        <integer>14</integer>
        <key>end</key>
        <integer>14</integer>
      </dict>
      <key>a50</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.56463</real>
        <key>anchorY</key>
        <real>0.70612</real>
        <key>start</key>
        <integer>15</integer>
        <key>end</key>
        <integer>15</integer>
      </dict>
      <key>a17</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.10747</real>
        <key>anchorY</key>
        <real>0.91354</real>
        <key>url</key>
        <string>animGame/a17.png</string>
      </dict>
      <key>a19</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.50091</real>
        <key>anchorY</key>
        <real>0.49968</real>
        <key>url</key>
        <string>animGame/a19.png</string>
      </dict>
      <key>a20</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.49881</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>url</key>
        <string>animGame/a20.png</string>
      </dict>
      <key>a27</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.50071</real>
        <key>anchorY</key>
        <real>0.50126</real>
        <key>url</key>
        <string>animGame/a27.png</string>
      </dict>
      <key>a39</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.50132</real>
        <key>anchorY</key>
        <real>0.50052</real>
        <key>url</key>
        <string>animGame/a39.png</string>
      </dict>
      <key>a45</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50079</real>
        <key>url</key>
        <string>animGame/a45.png</string>
      </dict>
      <key>a53</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.50024</real>
        <key>anchorY</key>
        <real>0.19146</real>
        <key>url</key>
        <string>animGame/a53.png</string>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>a18</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>75</integer>
        <key>rect</key>
        <string>0,0,846.40,1039.40</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>labels</key>
        <dict>
          <key>exit</key>
          <dict>
            <key>start</key>
            <integer>74</integer>
            <key>end</key>
            <integer>74</integer>
          </dict>
          <key>next4</key>
          <dict>
            <key>start</key>
            <integer>63</integer>
            <key>end</key>
            <integer>73</integer>
          </dict>
          <key>next2</key>
          <dict>
            <key>start</key>
            <integer>21</integer>
            <key>end</key>
            <integer>44</integer>
          </dict>
          <key>next1</key>
          <dict>
            <key>start</key>
            <integer>0</integer>
            <key>end</key>
            <integer>20</integer>
          </dict>
          <key>next3</key>
          <dict>
            <key>start</key>
            <integer>45</integer>
            <key>end</key>
            <integer>62</integer>
          </dict>
        </dict>
        <key>children</key>
        <dict>
          <key>btn_next</key>
          <dict>
            <key>class</key>
            <string>sprite213</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>null||||||||||||||||||||737.35,501.40,0.00,1.00000,1.00000,1.00,4,0.00,0.00|null|||||||||||||||||||||||737.35,501.40,0.00,1.00000,1.00000,1.00,7,0.00,0.00|null|||||||||||||||||737.35,491.70,0.00,1.00000,1.00000,1.00,11,0.00,0.00|null||||||||||737.35,496.30,0.00,1.00000,1.00000,1.00,5,0.00,0.00|null</string>
          </dict>
          <key>i1456</key>
          <dict>
            <key>class</key>
            <string>a32</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>null|||||||||||||||||||||||||||||||||||||||||||||510.70,714.20,0.00,0.00160,0.00179,1.00,9,0.00,0.00|527.85,723.50,0.00,0.11253,0.11270,1.00,9,0.00,0.00|545.00,732.80,0.00,0.22346,0.22360,1.00,9,0.00,0.00|562.15,742.15,0.00,0.33440,0.33452,1.00,9,0.00,0.00|579.30,751.45,0.00,0.44533,0.44543,1.00,9,0.00,0.00|596.40,760.75,0.00,0.55626,0.55634,1.00,9,0.00,0.00|613.60,770.05,0.00,0.66719,0.66725,1.00,9,0.00,0.00|630.75,779.40,0.00,0.77812,0.77815,1.00,9,0.00,0.00|647.90,788.70,0.00,0.88905,0.88907,1.00,9,0.00,0.00|660.40,793.10,0.00,1.00000,1.00000,1.00,9,0.00,0.00|||||||||null|||||||||||</string>
          </dict>
          <key>i1448</key>
          <dict>
            <key>class</key>
            <string>a39</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>null||||||||||||||||||||||||||||||||||276.30,734.75,0.00,0.00145,0.00258,1.00,6,0.00,0.00|266.10,744.35,0.00,0.10130,0.10233,1.00,6,0.00,0.00|255.85,754.00,0.00,0.20116,0.20207,1.00,6,0.00,0.00|245.65,763.60,0.00,0.30101,0.30180,1.00,6,0.00,0.00|235.40,773.20,0.00,0.40086,0.40155,1.00,6,0.00,0.00|225.20,782.85,0.00,0.50072,0.50128,1.00,6,0.00,0.00|214.95,792.40,0.00,0.60057,0.60103,1.00,6,0.00,0.00|204.75,802.05,0.00,0.70042,0.70076,1.00,6,0.00,0.00|194.50,811.65,0.00,0.80028,0.80051,1.00,6,0.00,0.00|184.30,821.30,0.00,0.90013,0.90025,1.00,6,0.00,0.00|192.50,826.45,0.00,1.00000,1.00000,1.00,6,0.00,0.00|||||||||||||||||||null|||||||||||</string>
          </dict>
          <key>btn_more</key>
          <dict>
            <key>class</key>
            <string>sprite210</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>105.20,491.40,0.00,1.00000,1.00000,1.00,3,0.00,0.00||||105.20,491.40,0.00,1.00000,1.00000,1.00,4,0.00,0.00||||||||||||||||105.20,491.40,0.00,1.00000,1.00000,1.00,5,0.00,0.00|105.20,491.40,0.00,1.00000,1.00000,1.00,6,0.00,0.00|||||||||||||105.20,491.40,0.00,1.00000,1.00000,1.00,7,0.00,0.00||||||||||105.20,491.40,0.00,1.00000,1.00000,1.00,8,0.00,0.00|105.20,491.40,0.00,1.00000,1.00000,1.00,10,0.00,0.00|||||||||105.20,491.40,0.00,1.00000,1.00000,1.00,11,0.00,0.00||||||||105.20,491.40,0.00,1.00000,1.00000,1.00,12,0.00,0.00|105.20,491.40,0.00,1.00000,1.00000,1.00,5,0.00,0.00||||||||||105.20,491.40,0.00,1.00000,1.00000,1.00,6,0.00,0.00|null</string>
          </dict>
          <key>i1437</key>
          <dict>
            <key>class</key>
            <string>a50</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>null|||||||||||||||||||||325.75,848.85,0.00,0.00182,0.00143,1.00,3,0.00,0.00|313.25,833.20,0.00,0.09256,0.09222,1.00,3,0.00,0.00|300.75,817.55,0.00,0.18330,0.18298,1.00,3,0.00,0.00|288.25,801.90,0.00,0.27405,0.27377,1.00,3,0.00,0.00|275.75,786.20,0.00,0.36478,0.36453,1.00,3,0.00,0.00|263.35,770.55,0.00,0.45554,0.45532,1.00,3,0.00,0.00|250.80,754.90,0.00,0.54628,0.54611,1.00,3,0.00,0.00|238.30,739.25,0.00,0.63701,0.63687,1.00,3,0.00,0.00|225.80,723.60,0.00,0.72775,0.72766,1.00,3,0.00,0.00|213.35,707.95,0.00,0.81850,0.81842,1.00,3,0.00,0.00|200.80,692.30,0.00,0.90924,0.90921,1.00,3,0.00,0.00|188.15,676.35,0.00,1.00000,1.00000,1.00,3,0.00,0.00|||||||||||||||||||||||||||||||null|||||||||||</string>
          </dict>
          <key>i1121</key>
          <dict>
            <key>class</key>
            <string>a21</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>466.55,845.60,0.00,1.00000,1.00000,1.00,1,0.00,0.00||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||null</string>
          </dict>
          <key>i1461</key>
          <dict>
            <key>class</key>
            <string>a53</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>null|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||423.20,519.70,0.00,1.00000,1.00000,1.00,3,0.00,0.00|||||||||||null</string>
          </dict>
          <key>i1439</key>
          <dict>
            <key>class</key>
            <string>a49</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>null|||||||||||||||||||||325.50,848.95,0.00,0.00182,0.00143,1.00,4,0.00,0.00|299.40,839.75,0.00,0.09256,0.09222,1.00,4,0.00,0.00|273.30,830.55,0.00,0.18330,0.18298,1.00,4,0.00,0.00|247.20,821.40,0.00,0.27405,0.27377,1.00,4,0.00,0.00|221.05,812.20,0.00,0.36478,0.36453,1.00,4,0.00,0.00|195.00,803.00,0.00,0.45554,0.45532,1.00,4,0.00,0.00|168.85,793.80,0.00,0.54628,0.54611,1.00,4,0.00,0.00|142.75,784.60,0.00,0.63701,0.63687,1.00,4,0.00,0.00|116.65,775.45,0.00,0.72775,0.72766,1.00,4,0.00,0.00|90.55,766.25,0.00,0.81850,0.81842,1.00,4,0.00,0.00|64.45,757.05,0.00,0.90924,0.90921,1.00,4,0.00,0.00|38.20,747.55,0.00,1.00000,1.00000,1.00,4,0.00,0.00|||||||||||||||||||||||||||||||null|||||||||||</string>
          </dict>
          <key>i1119</key>
          <dict>
            <key>class</key>
            <string>a19</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>425.10,473.30,0.00,1.00000,1.00000,1.00,0,0.00,0.00||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||null</string>
          </dict>
          <key>i1458</key>
          <dict>
            <key>class</key>
            <string>a28</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>null||||||||||||||||||||||||||||||||||||||||||||||||||||||729.50,670.65,0.00,0.00131,0.00372,1.00,10,0.00,0.00|713.20,663.05,0.00,0.14398,0.14606,1.00,10,0.00,0.00|696.90,655.45,0.00,0.28664,0.28836,1.00,10,0.00,0.00|680.55,647.80,0.00,0.42932,0.43069,1.00,10,0.00,0.00|664.25,640.20,0.00,0.57199,0.57303,1.00,10,0.00,0.00|647.95,632.60,0.00,0.71465,0.71533,1.00,10,0.00,0.00|631.65,625.00,0.00,0.85732,0.85767,1.00,10,0.00,0.00|629.70,620.90,0.00,1.00000,1.00000,1.00,10,0.00,0.00||null|||||||||||</string>
          </dict>
          <key>i1451</key>
          <dict>
            <key>class</key>
            <string>a36</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>null|||||||||||||||||||||||||||||||||||||||||||||510.70,714.20,0.00,0.00160,0.00179,1.00,7,0.00,0.00|527.85,723.50,0.00,0.11253,0.11270,1.00,7,0.00,0.00|545.00,732.80,0.00,0.22346,0.22360,1.00,7,0.00,0.00|562.15,742.15,0.00,0.33440,0.33452,1.00,7,0.00,0.00|579.30,751.45,0.00,0.44533,0.44543,1.00,7,0.00,0.00|596.40,760.75,0.00,0.55626,0.55634,1.00,7,0.00,0.00|613.60,770.05,0.00,0.66719,0.66725,1.00,7,0.00,0.00|630.75,779.40,0.00,0.77812,0.77815,1.00,7,0.00,0.00|647.90,788.70,0.00,0.88905,0.88907,1.00,7,0.00,0.00|660.40,793.10,0.00,1.00000,1.00000,1.00,7,0.00,0.00|||||||||null|||||||||||</string>
          </dict>
          <key>i1446</key>
          <dict>
            <key>class</key>
            <string>a42</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>null|||||||||||||||||||||325.75,848.85,0.00,0.00182,0.00143,1.00,5,0.00,0.00|313.25,833.20,0.00,0.09256,0.09222,1.00,5,0.00,0.00|300.75,817.55,0.00,0.18330,0.18298,1.00,5,0.00,0.00|288.25,801.90,0.00,0.27405,0.27377,1.00,5,0.00,0.00|275.75,786.20,0.00,0.36478,0.36453,1.00,5,0.00,0.00|263.35,770.55,0.00,0.45554,0.45532,1.00,5,0.00,0.00|250.80,754.90,0.00,0.54628,0.54611,1.00,5,0.00,0.00|238.30,739.25,0.00,0.63701,0.63687,1.00,5,0.00,0.00|225.80,723.60,0.00,0.72775,0.72766,1.00,5,0.00,0.00|213.35,707.95,0.00,0.81850,0.81842,1.00,5,0.00,0.00|200.80,692.30,0.00,0.90924,0.90921,1.00,5,0.00,0.00|188.15,676.35,0.00,1.00000,1.00000,1.00,5,0.00,0.00|||||||||||||||||||||||||||||||null|||||||||||</string>
          </dict>
          <key>i1434</key>
          <dict>
            <key>class</key>
            <string>a27</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>null||||552.45,657.05,0.00,0.00099,0.00253,1.00,3,0.00,0.00|544.10,650.95,0.00,0.06343,0.06488,1.00,3,0.00,0.00|535.80,644.80,0.00,0.12587,0.12721,1.00,3,0.00,0.00|527.45,638.70,0.00,0.18831,0.18956,1.00,3,0.00,0.00|519.10,632.55,0.00,0.25075,0.25191,1.00,3,0.00,0.00|510.75,626.45,0.00,0.31319,0.31424,1.00,3,0.00,0.00|502.40,620.35,0.00,0.37563,0.37659,1.00,3,0.00,0.00|494.10,614.20,0.00,0.43806,0.43892,1.00,3,0.00,0.00|485.80,608.15,0.00,0.50050,0.50127,1.00,3,0.00,0.00|477.40,602.05,0.00,0.56293,0.56361,1.00,3,0.00,0.00|469.10,595.85,0.00,0.62537,0.62595,1.00,3,0.00,0.00|460.75,589.75,0.00,0.68781,0.68829,1.00,3,0.00,0.00|452.45,583.60,0.00,0.75024,0.75064,1.00,3,0.00,0.00|444.05,577.50,0.00,0.81268,0.81297,1.00,3,0.00,0.00|435.75,571.40,0.00,0.87512,0.87532,1.00,3,0.00,0.00|427.45,565.25,0.00,0.93756,0.93765,1.00,3,0.00,0.00|419.05,559.15,0.00,1.00000,1.00000,1.00,3,0.00,0.00|null|||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i1130</key>
          <dict>
            <key>class</key>
            <string>a20</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>435.40,780.40,0.00,1.00000,1.00000,1.00,2,0.00,0.00||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||null</string>
          </dict>
          <key>i1453</key>
          <dict>
            <key>class</key>
            <string>a35</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>null|||||||||||||||||||||||||||||||||||||||||||||510.55,714.45,0.00,0.00160,0.00179,1.00,8,0.00,0.00|518.25,740.40,0.00,0.11253,0.11270,1.00,8,0.00,0.00|525.95,766.30,0.00,0.22346,0.22360,1.00,8,0.00,0.00|533.65,792.35,0.00,0.33440,0.33452,1.00,8,0.00,0.00|541.35,818.30,0.00,0.44533,0.44543,1.00,8,0.00,0.00|549.05,844.25,0.00,0.55626,0.55634,1.00,8,0.00,0.00|556.75,870.25,0.00,0.66719,0.66725,1.00,8,0.00,0.00|564.45,896.20,0.00,0.77812,0.77815,1.00,8,0.00,0.00|572.15,922.15,0.00,0.88905,0.88907,1.00,8,0.00,0.00|575.20,943.20,0.00,1.00000,1.00000,1.00,8,0.00,0.00|||||||||null|||||||||||</string>
          </dict>
          <key>i1463</key>
          <dict>
            <key>class</key>
            <string>a45</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>null|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||413.35,748.90,0.00,0.00081,0.00262,1.00,4,0.00,0.00|413.35,748.90,0.00,0.10072,0.10236,1.00,4,0.00,0.00|413.35,748.90,0.00,0.20065,0.20210,1.00,4,0.00,0.00|413.35,748.90,0.00,0.30057,0.30183,1.00,4,0.00,0.00|413.35,748.90,0.00,0.40048,0.40158,1.00,4,0.00,0.00|413.35,748.85,0.00,0.50040,0.50131,1.00,4,0.00,0.00|413.35,748.90,0.00,0.60033,0.60106,1.00,4,0.00,0.00|413.35,748.90,0.00,0.70024,0.70079,1.00,4,0.00,0.00|413.35,748.85,0.00,0.80017,0.80054,1.00,4,0.00,0.00|413.30,748.85,0.00,0.90010,0.90027,1.00,4,0.00,0.00|413.35,748.90,0.00,1.00000,1.00000,1.00,4,0.00,0.00|null</string>
          </dict>
          <key>btn_music</key>
          <dict>
            <key>class</key>
            <string>sprite166</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>732.80,992.50,0.00,1.00000,1.00000,1.00,4,0.00,0.00||||732.80,992.50,0.00,1.00000,1.00000,1.00,5,0.00,0.00||||||||||||||||732.80,992.50,0.00,1.00000,1.00000,1.00,6,0.00,0.00|732.80,992.50,0.00,1.00000,1.00000,1.00,7,0.00,0.00|||||||||||||732.80,992.50,0.00,1.00000,1.00000,1.00,8,0.00,0.00||||||||||732.80,992.50,0.00,1.00000,1.00000,1.00,9,0.00,0.00|732.80,992.50,0.00,1.00000,1.00000,1.00,11,0.00,0.00|||||||||732.80,992.50,0.00,1.00000,1.00000,1.00,12,0.00,0.00||||||||732.80,992.50,0.00,1.00000,1.00000,1.00,13,0.00,0.00|732.80,992.50,0.00,1.00000,1.00000,1.00,6,0.00,0.00||||||||||732.80,992.50,0.00,1.00000,1.00000,1.00,7,0.00,0.00|null</string>
          </dict>
        </dict>
      </dict>
      <key>a21</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>61</integer>
        <key>rect</key>
        <string>0,0,120.00,50.30</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i1161</key>
          <dict>
            <key>class</key>
            <string>a25</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>27.60,26.85,0.00,1.00000,1.00000,1.00,1,0.00,0.00|||||||||||||||||||||||||||||||||||||||||||||||||||||||||null|||</string>
          </dict>
          <key>i1466</key>
          <dict>
            <key>class</key>
            <string>a24</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||||||||||||||||||||||||||||||||||||||||||||||||||||||60.00,25.15,0.00,1.00000,1.00000,1.00,0,0.00,0.00|||</string>
          </dict>
          <key>i1159</key>
          <dict>
            <key>class</key>
            <string>a26</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>60.00,25.15,0.00,1.00000,1.00000,1.00,0,0.00,0.00|||||||||||||||||||||||||||||||||||||||||||||||||||||||||null|||</string>
          </dict>
          <key>i1163</key>
          <dict>
            <key>class</key>
            <string>a23</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>60.00,25.15,0.00,1.00000,1.00000,1.00,2,0.00,0.00|||||||||||||||||||||||||||||||||||||||||||||||||||||||||null|||</string>
          </dict>
          <key>i1165</key>
          <dict>
            <key>class</key>
            <string>a22</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>84.65,17.75,0.00,1.00000,1.00000,1.00,3,0.00,0.00|||||||||||||||||||||||||||||||||||||||||||||||||||||||||null|||</string>
          </dict>
        </dict>
      </dict>
      <key>animGame</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,976.55,1085.60</string>
        <key>anchorX</key>
        <real>0.11080</real>
        <key>anchorY</key>
        <real>0.94105</real>
        <key>children</key>
        <dict>
          <key>renwu_mc</key>
          <dict>
            <key>class</key>
            <string>a18</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>505.20,519.70,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>i1191</key>
          <dict>
            <key>class</key>
            <string>a17</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>105.00,1022.40,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>sprite166</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,79.45,79.10</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i1468</key>
          <dict>
            <key>class</key>
            <string>a5</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|0.00,79.10,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i1233</key>
          <dict>
            <key>class</key>
            <string>a6</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.45,79.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>