<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>indexGame_0000</key>
      <dict>
        <key>frame</key>
        <string>{{1,113},{109,109}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{109.00,109.00}</string>
      </dict>
      <key>indexGame_0001</key>
      <dict>
        <key>frame</key>
        <string>{{74,224},{69,69}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{69.00,69.00}</string>
      </dict>
      <key>indexGame_0002</key>
      <dict>
        <key>frame</key>
        <string>{{1,224},{71,71}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{71.00,71.00}</string>
      </dict>
      <key>indexGame_0003</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{110,110}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{110.00,110.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.53</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>indexGame.png</string>
      <key>realTextureFileName</key>
      <string>indexGame.png</string>
      <key>textureFileName</key>
      <string>indexGame.png</string>
      <key>size</key>
      <string>{212,312}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a4</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>-0.03670</real>
        <key>anchorY</key>
        <real>1.03670</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a5</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>-0.04348</real>
        <key>anchorY</key>
        <real>1.04348</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a6</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>-0.04225</real>
        <key>anchorY</key>
        <real>1.04225</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>sprite159</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>-0.02727</real>
        <key>anchorY</key>
        <real>1.02727</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a3</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.48862</real>
        <key>anchorY</key>
        <real>-0.36307</real>
        <key>url</key>
        <string>indexGame/a3.png</string>
      </dict>
      <key>a7</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.49815</real>
        <key>anchorY</key>
        <real>0.50355</real>
        <key>url</key>
        <string>indexGame/a7.png</string>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>indexGame</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,813.00,843.25</string>
        <key>anchorX</key>
        <real>0.00246</real>
        <key>anchorY</key>
        <real>0.99881</real>
        <key>children</key>
        <dict>
          <key>btn_music</key>
          <dict>
            <key>class</key>
            <string>sprite166</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>708.55,828.45,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>i809</key>
          <dict>
            <key>class</key>
            <string>a3</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>399.80,203.40,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>btn_more</key>
          <dict>
            <key>class</key>
            <string>sprite159</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>20.20,362.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>btn_play</key>
          <dict>
            <key>class</key>
            <string>a4</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>674.00,362.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i807</key>
          <dict>
            <key>class</key>
            <string>a7</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>405.00,424.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>sprite166</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,79.45,79.10</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i839</key>
          <dict>
            <key>class</key>
            <string>a6</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.45,79.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i915</key>
          <dict>
            <key>class</key>
            <string>a5</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|0.00,79.10,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>