<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>indexScene_0000</key>
      <dict>
        <key>frame</key>
        <string>{{223,1},{108,110}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{108.00,110.00}</string>
      </dict>
      <key>indexScene_0001</key>
      <dict>
        <key>frame</key>
        <string>{{1,287},{27,13}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{27.00,13.00}</string>
      </dict>
      <key>indexScene_0002</key>
      <dict>
        <key>frame</key>
        <string>{{1,55},{162,50}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{162.00,50.00}</string>
      </dict>
      <key>indexScene_0003</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{169,52}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{169.00,52.00}</string>
      </dict>
      <key>indexScene_0004</key>
      <dict>
        <key>frame</key>
        <string>{{138,218},{58,83}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{58.00,83.00}</string>
      </dict>
      <key>indexScene_0005</key>
      <dict>
        <key>frame</key>
        <string>{{165,55},{44,44}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{44.00,44.00}</string>
      </dict>
      <key>indexScene_0006</key>
      <dict>
        <key>frame</key>
        <string>{{172,1},{41,41}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{41.00,41.00}</string>
      </dict>
      <key>indexScene_0007</key>
      <dict>
        <key>frame</key>
        <string>{{1,218},{67,67}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{67.00,67.00}</string>
      </dict>
      <key>indexScene_0008</key>
      <dict>
        <key>frame</key>
        <string>{{70,218},{66,67}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{66.00,67.00}</string>
      </dict>
      <key>indexScene_0009</key>
      <dict>
        <key>frame</key>
        <string>{{112,107},{109,109}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{109.00,109.00}</string>
      </dict>
      <key>indexScene_0010</key>
      <dict>
        <key>frame</key>
        <string>{{1,107},{109,109}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{109.00,109.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.58</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>indexScene.png</string>
      <key>realTextureFileName</key>
      <string>indexScene.png</string>
      <key>textureFileName</key>
      <string>indexScene.png</string>
      <key>size</key>
      <string>{372,312}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50182</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a30</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>3.02963</real>
        <key>anchorY</key>
        <real>3.64231</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a40</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51235</real>
        <key>anchorY</key>
        <real>0.47600</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>a45</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50148</real>
        <key>anchorY</key>
        <real>0.49135</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a55</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.97500</real>
        <key>anchorY</key>
        <real>-0.19819</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>a82</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.11023</real>
        <key>anchorY</key>
        <real>1.06364</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>a83</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.15976</real>
        <key>anchorY</key>
        <real>1.11341</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>a84</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.02985</real>
        <key>anchorY</key>
        <real>1.02985</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>a85</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50682</real>
        <key>anchorY</key>
        <real>0.50373</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>gfhdfghds</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49862</real>
        <key>anchorY</key>
        <real>0.49541</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>gfjd</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49862</real>
        <key>anchorY</key>
        <real>0.49541</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>a1</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>url</key>
        <string>indexScene/a1.png</string>
      </dict>
      <key>a17</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.49964</real>
        <key>anchorY</key>
        <real>0.50076</real>
        <key>url</key>
        <string>indexScene/a17.png</string>
      </dict>
      <key>a19</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.50442</real>
        <key>anchorY</key>
        <real>0.49719</real>
        <key>url</key>
        <string>indexScene/a19.png</string>
      </dict>
      <key>a2</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.42601</real>
        <key>anchorY</key>
        <real>0.59591</real>
        <key>url</key>
        <string>indexScene/a2.png</string>
      </dict>
      <key>gfhd</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.43750</real>
        <key>anchorY</key>
        <real>0.56250</real>
        <key>url</key>
        <string>indexScene/gfhd.png</string>
      </dict>
      <key>hgjd</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.49951</real>
        <key>anchorY</key>
        <real>0.60685</real>
        <key>url</key>
        <string>indexScene/hgjd.png</string>
      </dict>
      <key>hyj</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.49654</real>
        <key>anchorY</key>
        <real>0.43065</real>
        <key>url</key>
        <string>indexScene/hyj.png</string>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>a81</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,49.20,47.15</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i106044</key>
          <dict>
            <key>class</key>
            <string>a82</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,47.15,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i106422</key>
          <dict>
            <key>class</key>
            <string>a83</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|0.00,47.15,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>gfhdfgj</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,800.00,600.20</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.60355</real>
        <key>children</key>
        <dict>
          <key>i106096</key>
          <dict>
            <key>class</key>
            <string>hgjd</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>206.80,373.35,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i106088</key>
          <dict>
            <key>class</key>
            <string>gfhd</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>350.00,337.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i106090</key>
          <dict>
            <key>class</key>
            <string>hyj</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>551.55,364.45,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>indx</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,807.70,721.45</string>
        <key>anchorX</key>
        <real>0.00891</real>
        <key>anchorY</key>
        <real>0.83200</real>
        <key>children</key>
        <dict>
          <key>i106136</key>
          <dict>
            <key>class</key>
            <string>gfhdfgj</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>407.70,362.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>btn_play</key>
          <dict>
            <key>class</key>
            <string>gfjd</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>670.50,200.45,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>btn_more</key>
          <dict>
            <key>class</key>
            <string>gfhdfghds</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>487.15,200.45,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>btn_music</key>
          <dict>
            <key>class</key>
            <string>vbnbn</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>717.10,583.20,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>vbnbn</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,70.95,70.55</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i106199</key>
          <dict>
            <key>class</key>
            <string>a84</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,70.55,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i106442</key>
          <dict>
            <key>class</key>
            <string>a85</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|35.45,35.30,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>