<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Main2Scene_0000</key>
      <dict>
        <key>frame</key>
        <string>{{39,486},{30,29}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{30.00,29.00}</string>
      </dict>
      <key>Main2Scene_0001</key>
      <dict>
        <key>frame</key>
        <string>{{103,515},{22,10}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{22.00,10.00}</string>
      </dict>
      <key>Main2Scene_0002</key>
      <dict>
        <key>frame</key>
        <string>{{283,211},{78,77}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{78.00,77.00}</string>
      </dict>
      <key>Main2Scene_0003</key>
      <dict>
        <key>frame</key>
        <string>{{103,500},{27,13}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{27.00,13.00}</string>
      </dict>
      <key>Main2Scene_0004</key>
      <dict>
        <key>frame</key>
        <string>{{1,514},{22,11}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{22.00,11.00}</string>
      </dict>
      <key>Main2Scene_0005</key>
      <dict>
        <key>frame</key>
        <string>{{71,486},{30,30}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{30.00,30.00}</string>
      </dict>
      <key>Main2Scene_0006</key>
      <dict>
        <key>frame</key>
        <string>{{132,500},{21,24}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{21.00,24.00}</string>
      </dict>
      <key>Main2Scene_0007</key>
      <dict>
        <key>frame</key>
        <string>{{363,256},{21,32}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{21.00,32.00}</string>
      </dict>
      <key>Main2Scene_0008</key>
      <dict>
        <key>frame</key>
        <string>{{1,500},{36,12}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{36.00,12.00}</string>
      </dict>
      <key>Main2Scene_0009</key>
      <dict>
        <key>frame</key>
        <string>{{172,1},{167,51}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{167.00,51.00}</string>
      </dict>
      <key>Main2Scene_0010</key>
      <dict>
        <key>frame</key>
        <string>{{172,107},{166,50}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{166.00,50.00}</string>
      </dict>
      <key>Main2Scene_0011</key>
      <dict>
        <key>frame</key>
        <string>{{1,271},{169,51}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{169.00,51.00}</string>
      </dict>
      <key>Main2Scene_0012</key>
      <dict>
        <key>frame</key>
        <string>{{340,107},{78,77}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{78.00,77.00}</string>
      </dict>
      <key>Main2Scene_0013</key>
      <dict>
        <key>frame</key>
        <string>{{172,159},{162,50}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{162.00,50.00}</string>
      </dict>
      <key>Main2Scene_0014</key>
      <dict>
        <key>frame</key>
        <string>{{172,54},{167,51}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{167.00,51.00}</string>
      </dict>
      <key>Main2Scene_0015</key>
      <dict>
        <key>frame</key>
        <string>{{1,217},{169,52}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{169.00,52.00}</string>
      </dict>
      <key>Main2Scene_0016</key>
      <dict>
        <key>frame</key>
        <string>{{1,324},{169,52}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{169.00,52.00}</string>
      </dict>
      <key>Main2Scene_0017</key>
      <dict>
        <key>frame</key>
        <string>{{1,378},{169,52}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{169.00,52.00}</string>
      </dict>
      <key>Main2Scene_0018</key>
      <dict>
        <key>frame</key>
        <string>{{1,55},{169,52}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{169.00,52.00}</string>
      </dict>
      <key>Main2Scene_0019</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{169,52}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{169.00,52.00}</string>
      </dict>
      <key>Main2Scene_0020</key>
      <dict>
        <key>frame</key>
        <string>{{1,432},{169,52}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{169.00,52.00}</string>
      </dict>
      <key>Main2Scene_0021</key>
      <dict>
        <key>frame</key>
        <string>{{1,109},{169,52}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{169.00,52.00}</string>
      </dict>
      <key>Main2Scene_0022</key>
      <dict>
        <key>frame</key>
        <string>{{332,401},{78,77}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{78.00,77.00}</string>
      </dict>
      <key>Main2Scene_0023</key>
      <dict>
        <key>frame</key>
        <string>{{1,163},{169,52}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{169.00,52.00}</string>
      </dict>
      <key>Main2Scene_0024</key>
      <dict>
        <key>frame</key>
        <string>{{417,1},{63,86}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{63.00,86.00}</string>
      </dict>
      <key>Main2Scene_0025</key>
      <dict>
        <key>frame</key>
        <string>{{481,341},{57,123}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{57.00,123.00}</string>
      </dict>
      <key>Main2Scene_0026</key>
      <dict>
        <key>frame</key>
        <string>{{363,186},{68,68}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{68.00,68.00}</string>
      </dict>
      <key>Main2Scene_0027</key>
      <dict>
        <key>frame</key>
        <string>{{427,256},{58,83}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{58.00,83.00}</string>
      </dict>
      <key>Main2Scene_0028</key>
      <dict>
        <key>frame</key>
        <string>{{420,89},{63,81}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{63.00,81.00}</string>
      </dict>
      <key>Main2Scene_0029</key>
      <dict>
        <key>frame</key>
        <string>{{485,1},{53,91}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{53.00,91.00}</string>
      </dict>
      <key>Main2Scene_0030</key>
      <dict>
        <key>frame</key>
        <string>{{172,421},{78,77}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{78.00,77.00}</string>
      </dict>
      <key>Main2Scene_0031</key>
      <dict>
        <key>frame</key>
        <string>{{271,322},{78,77}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{78.00,77.00}</string>
      </dict>
      <key>Main2Scene_0032</key>
      <dict>
        <key>frame</key>
        <string>{{252,421},{78,77}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{78.00,77.00}</string>
      </dict>
      <key>Main2Scene_0033</key>
      <dict>
        <key>frame</key>
        <string>{{412,366},{67,67}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{67.00,67.00}</string>
      </dict>
      <key>Main2Scene_0034</key>
      <dict>
        <key>frame</key>
        <string>{{412,435},{66,67}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{66.00,67.00}</string>
      </dict>
      <key>Main2Scene_0035</key>
      <dict>
        <key>frame</key>
        <string>{{172,322},{97,97}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{97.00,97.00}</string>
      </dict>
      <key>Main2Scene_0036</key>
      <dict>
        <key>frame</key>
        <string>{{172,211},{109,109}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{109.00,109.00}</string>
      </dict>
      <key>Main2Scene_0037</key>
      <dict>
        <key>frame</key>
        <string>{{351,290},{74,74}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{74.00,74.00}</string>
      </dict>
      <key>Main2Scene_0038</key>
      <dict>
        <key>frame</key>
        <string>{{341,1},{74,74}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{74.00,74.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.58</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>Main2Scene.png</string>
      <key>realTextureFileName</key>
      <string>Main2Scene.png</string>
      <key>textureFileName</key>
      <string>Main2Scene.png</string>
      <key>size</key>
      <string>{572,526}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a28</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50167</real>
        <key>anchorY</key>
        <real>0.48448</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a29</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>3.63409</real>
        <key>anchorY</key>
        <real>4.28500</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50256</real>
        <key>anchorY</key>
        <real>0.50390</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>a30</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>3.02963</real>
        <key>anchorY</key>
        <real>3.64231</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a31</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.04545</real>
        <key>anchorY</key>
        <real>0.90909</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>a32</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.48333</real>
        <key>anchorY</key>
        <real>0.39500</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>a33</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.89524</real>
        <key>anchorY</key>
        <real>0.61667</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>a34</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.45781</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>a35</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>3.31806</real>
        <key>anchorY</key>
        <real>3.94167</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>a37</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50150</real>
        <key>anchorY</key>
        <real>0.49608</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>a38</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49849</real>
        <key>anchorY</key>
        <real>0.49100</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>a39</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51036</real>
        <key>anchorY</key>
        <real>0.49706</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>a4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50256</real>
        <key>anchorY</key>
        <real>0.50390</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>a40</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51235</real>
        <key>anchorY</key>
        <real>0.47600</real>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
      <key>a41</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.49510</real>
        <key>start</key>
        <integer>14</integer>
        <key>end</key>
        <integer>14</integer>
      </dict>
      <key>a43</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50148</real>
        <key>anchorY</key>
        <real>0.49135</real>
        <key>start</key>
        <integer>15</integer>
        <key>end</key>
        <integer>15</integer>
      </dict>
      <key>a44</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50148</real>
        <key>anchorY</key>
        <real>0.49135</real>
        <key>start</key>
        <integer>16</integer>
        <key>end</key>
        <integer>16</integer>
      </dict>
      <key>a45</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50148</real>
        <key>anchorY</key>
        <real>0.49135</real>
        <key>start</key>
        <integer>17</integer>
        <key>end</key>
        <integer>17</integer>
      </dict>
      <key>a46</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50148</real>
        <key>anchorY</key>
        <real>0.49135</real>
        <key>start</key>
        <integer>18</integer>
        <key>end</key>
        <integer>18</integer>
      </dict>
      <key>a47</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50148</real>
        <key>anchorY</key>
        <real>0.49135</real>
        <key>start</key>
        <integer>19</integer>
        <key>end</key>
        <integer>19</integer>
      </dict>
      <key>a48</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50148</real>
        <key>anchorY</key>
        <real>0.49135</real>
        <key>start</key>
        <integer>20</integer>
        <key>end</key>
        <integer>20</integer>
      </dict>
      <key>a49</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50148</real>
        <key>anchorY</key>
        <real>0.49135</real>
        <key>start</key>
        <integer>21</integer>
        <key>end</key>
        <integer>21</integer>
      </dict>
      <key>a5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50256</real>
        <key>anchorY</key>
        <real>0.50390</real>
        <key>start</key>
        <integer>22</integer>
        <key>end</key>
        <integer>22</integer>
      </dict>
      <key>a50</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50148</real>
        <key>anchorY</key>
        <real>0.49135</real>
        <key>start</key>
        <integer>23</integer>
        <key>end</key>
        <integer>23</integer>
      </dict>
      <key>a52</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49603</real>
        <key>anchorY</key>
        <real>0.50407</real>
        <key>start</key>
        <integer>24</integer>
        <key>end</key>
        <integer>24</integer>
      </dict>
      <key>a53</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-1.04035</real>
        <key>anchorY</key>
        <real>-0.01829</real>
        <key>start</key>
        <integer>25</integer>
        <key>end</key>
        <integer>25</integer>
      </dict>
      <key>a54</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.79191</real>
        <key>anchorY</key>
        <real>-0.02206</real>
        <key>start</key>
        <integer>26</integer>
        <key>end</key>
        <integer>26</integer>
      </dict>
      <key>a55</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.97500</real>
        <key>anchorY</key>
        <real>-0.19819</real>
        <key>start</key>
        <integer>27</integer>
        <key>end</key>
        <integer>27</integer>
      </dict>
      <key>a56</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.48492</real>
        <key>anchorY</key>
        <real>0.43210</real>
        <key>start</key>
        <integer>28</integer>
        <key>end</key>
        <integer>28</integer>
      </dict>
      <key>a57</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-1.07830</real>
        <key>anchorY</key>
        <real>-0.06319</real>
        <key>start</key>
        <integer>29</integer>
        <key>end</key>
        <integer>29</integer>
      </dict>
      <key>a6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50256</real>
        <key>anchorY</key>
        <real>0.50390</real>
        <key>start</key>
        <integer>30</integer>
        <key>end</key>
        <integer>30</integer>
      </dict>
      <key>a7</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50256</real>
        <key>anchorY</key>
        <real>0.50390</real>
        <key>start</key>
        <integer>31</integer>
        <key>end</key>
        <integer>31</integer>
      </dict>
      <key>a8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50256</real>
        <key>anchorY</key>
        <real>0.50390</real>
        <key>start</key>
        <integer>32</integer>
        <key>end</key>
        <integer>32</integer>
      </dict>
      <key>a84</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.02985</real>
        <key>anchorY</key>
        <real>1.02985</real>
        <key>start</key>
        <integer>33</integer>
        <key>end</key>
        <integer>33</integer>
      </dict>
      <key>a85</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50682</real>
        <key>anchorY</key>
        <real>0.50373</real>
        <key>start</key>
        <integer>34</integer>
        <key>end</key>
        <integer>34</integer>
      </dict>
      <key>fdhs</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50309</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>35</integer>
        <key>end</key>
        <integer>35</integer>
      </dict>
      <key>gfhdfghds</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49862</real>
        <key>anchorY</key>
        <real>0.49541</real>
        <key>start</key>
        <integer>36</integer>
        <key>end</key>
        <integer>36</integer>
      </dict>
      <key>ghjfgj</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50338</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>37</integer>
        <key>end</key>
        <integer>37</integer>
      </dict>
      <key>gjfghjsdss</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50338</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>38</integer>
        <key>end</key>
        <integer>38</integer>
      </dict>
      <key>a1</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.43750</real>
        <key>anchorY</key>
        <real>0.56250</real>
        <key>url</key>
        <string>Main2Scene/a1.png</string>
      </dict>
      <key>a13</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.45411</real>
        <key>anchorY</key>
        <real>0.58470</real>
        <key>url</key>
        <string>Main2Scene/a13.png</string>
      </dict>
      <key>a14</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.50887</real>
        <key>anchorY</key>
        <real>0.42675</real>
        <key>url</key>
        <string>Main2Scene/a14.png</string>
      </dict>
      <key>a15</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.46234</real>
        <key>anchorY</key>
        <real>0.46462</real>
        <key>url</key>
        <string>Main2Scene/a15.png</string>
      </dict>
      <key>a16</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.47260</real>
        <key>anchorY</key>
        <real>0.46894</real>
        <key>url</key>
        <string>Main2Scene/a16.png</string>
      </dict>
      <key>a17</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.49964</real>
        <key>anchorY</key>
        <real>0.50076</real>
        <key>url</key>
        <string>Main2Scene/a17.png</string>
      </dict>
      <key>a19</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.50442</real>
        <key>anchorY</key>
        <real>0.49719</real>
        <key>url</key>
        <string>Main2Scene/a19.png</string>
      </dict>
      <key>a2</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.42601</real>
        <key>anchorY</key>
        <real>0.56308</real>
        <key>url</key>
        <string>Main2Scene/a2.png</string>
      </dict>
      <key>a20</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.49272</real>
        <key>anchorY</key>
        <real>0.49622</real>
        <key>url</key>
        <string>Main2Scene/a20.png</string>
      </dict>
      <key>a21</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.48534</real>
        <key>anchorY</key>
        <real>0.49399</real>
        <key>url</key>
        <string>Main2Scene/a21.png</string>
      </dict>
      <key>a22</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.47674</real>
        <key>anchorY</key>
        <real>0.51571</real>
        <key>url</key>
        <string>Main2Scene/a22.png</string>
      </dict>
      <key>a23</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.50070</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>url</key>
        <string>Main2Scene/a23.png</string>
      </dict>
      <key>a86</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.50018</real>
        <key>anchorY</key>
        <real>0.45510</real>
        <key>url</key>
        <string>Main2Scene/a86.png</string>
      </dict>
      <key>a87</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.42601</real>
        <key>anchorY</key>
        <real>0.48950</real>
        <key>url</key>
        <string>Main2Scene/a87.png</string>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>a18</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>6</integer>
        <key>rect</key>
        <string>0,0,158.80,147.70</string>
        <key>anchorX</key>
        <real>0.46001</real>
        <key>anchorY</key>
        <real>0.52539</real>
        <key>children</key>
        <dict>
          <key>i17695082</key>
          <dict>
            <key>class</key>
            <string>a13</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||73.05,77.60,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i17695074</key>
          <dict>
            <key>class</key>
            <string>a17</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|73.05,77.60,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||</string>
          </dict>
          <key>i17695076</key>
          <dict>
            <key>class</key>
            <string>a16</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||73.05,77.60,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||</string>
          </dict>
          <key>i17695078</key>
          <dict>
            <key>class</key>
            <string>a15</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||73.05,77.60,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|</string>
          </dict>
          <key>i17695080</key>
          <dict>
            <key>class</key>
            <string>a14</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||73.05,77.60,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
        </dict>
      </dict>
      <key>a24</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>6</integer>
        <key>rect</key>
        <string>0,0,218.90,316.10</string>
        <key>anchorX</key>
        <real>0.49086</real>
        <key>anchorY</key>
        <real>0.50696</real>
        <key>children</key>
        <dict>
          <key>i17695086</key>
          <dict>
            <key>class</key>
            <string>a22</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||107.45,160.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||</string>
          </dict>
          <key>i17695088</key>
          <dict>
            <key>class</key>
            <string>a21</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||107.45,160.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|</string>
          </dict>
          <key>i17695092</key>
          <dict>
            <key>class</key>
            <string>a19</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||107.45,160.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i17695090</key>
          <dict>
            <key>class</key>
            <string>a20</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||107.45,160.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i17695084</key>
          <dict>
            <key>class</key>
            <string>a23</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|107.45,160.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||</string>
          </dict>
        </dict>
      </dict>
      <key>a27</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>9</integer>
        <key>rect</key>
        <string>0,0,157.75,64.65</string>
        <key>anchorX</key>
        <real>0.75087</real>
        <key>anchorY</key>
        <real>0.71926</real>
        <key>children</key>
        <dict>
          <key>i17695100</key>
          <dict>
            <key>class</key>
            <string>a31</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||118.45,46.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||</string>
          </dict>
          <key>i17695104</key>
          <dict>
            <key>class</key>
            <string>a33</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||118.45,46.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|</string>
          </dict>
          <key>i17695096</key>
          <dict>
            <key>class</key>
            <string>a29</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||118.45,46.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||||</string>
          </dict>
          <key>i17695106</key>
          <dict>
            <key>class</key>
            <string>a34</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||||118.45,46.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i17695094</key>
          <dict>
            <key>class</key>
            <string>a28</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|118.45,46.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||||</string>
          </dict>
          <key>i17695108</key>
          <dict>
            <key>class</key>
            <string>a35</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||||118.45,46.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i17695098</key>
          <dict>
            <key>class</key>
            <string>a30</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||118.45,46.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||</string>
          </dict>
          <key>i17695102</key>
          <dict>
            <key>class</key>
            <string>a32</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||118.45,46.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||</string>
          </dict>
        </dict>
      </dict>
      <key>a36</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>6</integer>
        <key>rect</key>
        <string>0,0,176.55,55.75</string>
        <key>anchorX</key>
        <real>0.49051</real>
        <key>anchorY</key>
        <real>0.50224</real>
        <key>children</key>
        <dict>
          <key>i17695110</key>
          <dict>
            <key>class</key>
            <string>a37</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|86.60,27.75,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||</string>
          </dict>
          <key>i17695122</key>
          <dict>
            <key>class</key>
            <string>a41</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||87.35,28.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i17695113</key>
          <dict>
            <key>class</key>
            <string>a38</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||86.60,28.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||</string>
          </dict>
          <key>i17695119</key>
          <dict>
            <key>class</key>
            <string>a40</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||85.35,27.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i17695116</key>
          <dict>
            <key>class</key>
            <string>a39</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||88.25,28.05,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|</string>
          </dict>
        </dict>
      </dict>
      <key>a42</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>8</integer>
        <key>rect</key>
        <string>0,0,167.50,50.95</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50049</real>
        <key>children</key>
        <dict>
          <key>i17695137</key>
          <dict>
            <key>class</key>
            <string>a50</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||||83.75,25.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i17695127</key>
          <dict>
            <key>class</key>
            <string>a45</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||83.75,25.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||</string>
          </dict>
          <key>i17695135</key>
          <dict>
            <key>class</key>
            <string>a49</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||83.75,25.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i17695129</key>
          <dict>
            <key>class</key>
            <string>a46</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||83.75,25.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||</string>
          </dict>
          <key>i17695125</key>
          <dict>
            <key>class</key>
            <string>a44</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|83.75,25.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||||</string>
          </dict>
          <key>i17694557</key>
          <dict>
            <key>class</key>
            <string>a43</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>83.75,25.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||||</string>
          </dict>
          <key>i17695131</key>
          <dict>
            <key>class</key>
            <string>a47</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||83.75,25.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||</string>
          </dict>
          <key>i17695133</key>
          <dict>
            <key>class</key>
            <string>a48</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||83.75,25.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|</string>
          </dict>
        </dict>
      </dict>
      <key>a51</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>7</integer>
        <key>rect</key>
        <string>0,0,152.55,168.05</string>
        <key>anchorX</key>
        <real>0.20485</real>
        <key>anchorY</key>
        <real>0.25469</real>
        <key>children</key>
        <dict>
          <key>i17695139</key>
          <dict>
            <key>class</key>
            <string>a52</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|31.25,42.80,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||</string>
          </dict>
          <key>i17695147</key>
          <dict>
            <key>class</key>
            <string>a56</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||31.25,42.80,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i17695149</key>
          <dict>
            <key>class</key>
            <string>a57</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||31.25,42.80,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i17695141</key>
          <dict>
            <key>class</key>
            <string>a53</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||31.25,42.80,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||</string>
          </dict>
          <key>i17695143</key>
          <dict>
            <key>class</key>
            <string>a54</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||31.25,42.80,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||</string>
          </dict>
          <key>i17695145</key>
          <dict>
            <key>class</key>
            <string>a55</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||31.25,42.80,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|</string>
          </dict>
        </dict>
      </dict>
      <key>a58</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,195.90,475.25</string>
        <key>anchorX</key>
        <real>0.42547</real>
        <key>anchorY</key>
        <real>0.48869</real>
        <key>children</key>
        <dict>
          <key>shoes2</key>
          <dict>
            <key>class</key>
            <string>a42</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>92.65,34.95,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>shoes5</key>
          <dict>
            <key>class</key>
            <string>a51</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>53.60,85.60,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>shoes1</key>
          <dict>
            <key>class</key>
            <string>a36</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>92.65,34.95,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i17694607</key>
          <dict>
            <key>class</key>
            <string>a87</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>83.35,232.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>shoes6</key>
          <dict>
            <key>class</key>
            <string>a27</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>119.45,70.40,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>shoes3</key>
          <dict>
            <key>class</key>
            <string>a24</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>95.60,131.30,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>shoes4</key>
          <dict>
            <key>class</key>
            <string>a18</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>94.25,228.05,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>gamemain2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,800.45,646.35</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.92968</real>
        <key>children</key>
        <dict>
          <key>btn_2</key>
          <dict>
            <key>class</key>
            <string>a7</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>709.85,428.15,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>btn_6</key>
          <dict>
            <key>class</key>
            <string>a3</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>709.85,245.95,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>btn_1</key>
          <dict>
            <key>class</key>
            <string>a8</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>598.90,428.15,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>btn_music</key>
          <dict>
            <key>class</key>
            <string>vbnbn</string>
            <key>zIndex</key>
            <integer>12</integer>
            <key>frames</key>
            <string>718.70,593.35,0.00,1.00000,1.00000,1.00,12,0.00,0.00</string>
          </dict>
          <key>btn_5</key>
          <dict>
            <key>class</key>
            <string>a4</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>598.90,244.40,0.00,1.00000,1.00000,1.00,8,0.00,0.00</string>
          </dict>
          <key>i17694635</key>
          <dict>
            <key>class</key>
            <string>a1</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>350.45,337.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i17694637</key>
          <dict>
            <key>class</key>
            <string>a86</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>317.80,315.05,0.00,1.00000,1.00000,0.54,1,0.00,0.00</string>
          </dict>
          <key>btn_more</key>
          <dict>
            <key>class</key>
            <string>gfhdfghds</string>
            <key>zIndex</key>
            <integer>13</integer>
            <key>frames</key>
            <string>51.35,52.20,0.00,0.85690,0.86171,1.00,13,0.00,0.00</string>
          </dict>
          <key>dolls</key>
          <dict>
            <key>class</key>
            <string>a58</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>307.00,360.35,0.00,1.17694,1.17694,1.00,2,0.00,0.00</string>
          </dict>
          <key>btn_show</key>
          <dict>
            <key>class</key>
            <string>ghjfgj</string>
            <key>zIndex</key>
            <integer>11</integer>
            <key>frames</key>
            <string>709.40,153.75,0.00,1.00000,1.00000,1.00,11,0.00,0.00</string>
          </dict>
          <key>btn_4</key>
          <dict>
            <key>class</key>
            <string>a5</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>709.85,337.05,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>btn_3</key>
          <dict>
            <key>class</key>
            <string>a6</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>598.90,335.50,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>btn_rest</key>
          <dict>
            <key>class</key>
            <string>gjfghjsdss</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>602.55,153.75,0.00,1.00000,1.00000,1.00,9,0.00,0.00</string>
          </dict>
          <key>btn_replay</key>
          <dict>
            <key>class</key>
            <string>fdhs</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>746.65,50.90,0.00,0.96526,0.97040,1.00,10,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>vbnbn</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,70.95,70.55</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i17694694</key>
          <dict>
            <key>class</key>
            <string>a84</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,70.55,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i17695151</key>
          <dict>
            <key>class</key>
            <string>a85</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|35.45,35.30,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>