<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>gamemain_000000</key>
      <dict>
        <key>frame</key>
        <string>{{972,363},{121,121}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{119,119}</string>
      </dict>
      <key>gamemain_000001</key>
      <dict>
        <key>frame</key>
        <string>{{934,0},{121,121}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{119,119}</string>
      </dict>
      <key>gamemain_000002</key>
      <dict>
        <key>frame</key>
        <string>{{851,403},{121,121}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{119,119}</string>
      </dict>
      <key>gamemain_000003</key>
      <dict>
        <key>frame</key>
        <string>{{851,282},{121,121}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{119,119}</string>
      </dict>
      <key>gamemain_000004</key>
      <dict>
        <key>frame</key>
        <string>{{934,121},{121,121}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{119,119}</string>
      </dict>
      <key>gamemain_000005</key>
      <dict>
        <key>frame</key>
        <string>{{639,565},{109,37}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{107,35}</string>
      </dict>
      <key>gamemain_000006</key>
      <dict>
        <key>frame</key>
        <string>{{972,242},{121,121}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{119,119}</string>
      </dict>
      <key>gamemain_000007</key>
      <dict>
        <key>frame</key>
        <string>{{0,283},{329,97}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{327,95}</string>
      </dict>
      <key>gamemain_000008</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{722,229}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{720,227}</string>
      </dict>
      <key>gamemain_000009</key>
      <dict>
        <key>frame</key>
        <string>{{368,229},{148,51}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{146,49}</string>
      </dict>
      <key>gamemain_000010</key>
      <dict>
        <key>frame</key>
        <string>{{802,565},{49,54}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{47,52}</string>
      </dict>
      <key>gamemain_000011</key>
      <dict>
        <key>frame</key>
        <string>{{0,459},{215,169}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{213,167}</string>
      </dict>
      <key>gamemain_000012</key>
      <dict>
        <key>frame</key>
        <string>{{427,451},{212,167}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{210,165}</string>
      </dict>
      <key>gamemain_000013</key>
      <dict>
        <key>frame</key>
        <string>{{215,459},{212,167}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{210,165}</string>
      </dict>
      <key>gamemain_000014</key>
      <dict>
        <key>frame</key>
        <string>{{541,229},{212,168}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{210,166}</string>
      </dict>
      <key>gamemain_000015</key>
      <dict>
        <key>frame</key>
        <string>{{722,0},{212,168}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{210,166}</string>
      </dict>
      <key>gamemain_000016</key>
      <dict>
        <key>frame</key>
        <string>{{639,397},{212,168}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{210,166}</string>
      </dict>
      <key>gamemain_000017</key>
      <dict>
        <key>frame</key>
        <string>{{329,283},{212,168}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{210,166}</string>
      </dict>
      <key>gamemain_000018</key>
      <dict>
        <key>frame</key>
        <string>{{0,380},{251,79}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{249,77}</string>
      </dict>
      <key>gamemain_000019</key>
      <dict>
        <key>frame</key>
        <string>{{0,229},{368,54}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{366,52}</string>
      </dict>
      <key>gamemain_000020</key>
      <dict>
        <key>frame</key>
        <string>{{753,335},{54,53}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{52,51}</string>
      </dict>
      <key>gamemain_000021</key>
      <dict>
        <key>frame</key>
        <string>{{541,397},{54,53}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{52,51}</string>
      </dict>
      <key>gamemain_000022</key>
      <dict>
        <key>frame</key>
        <string>{{251,380},{54,53}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{52,51}</string>
      </dict>
      <key>gamemain_000023</key>
      <dict>
        <key>frame</key>
        <string>{{753,168},{128,114}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{126,112}</string>
      </dict>
      <key>gamemain_000024</key>
      <dict>
        <key>frame</key>
        <string>{{748,565},{54,53}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{52,51}</string>
      </dict>
      <key>gamemain_000025</key>
      <dict>
        <key>frame</key>
        <string>{{753,282},{54,53}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{52,51}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>gamemain.png</string>
      <key>size</key>
      <string>{1122,630}</string>
      <key>textureFileName</key>
      <string>gamemain.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asset10</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.12605</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset11</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.04202</real>
        <key>anchorY</key>
        <real>1.08403</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset12</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.11765</real>
        <key>anchorY</key>
        <real>1.01681</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>asset14</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.06723</real>
        <key>anchorY</key>
        <real>1.10924</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>asset15</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.13445</real>
        <key>anchorY</key>
        <real>1.12605</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>asset16</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.12150</real>
        <key>anchorY</key>
        <real>1.74286</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>asset18</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.09244</real>
        <key>anchorY</key>
        <real>1.08403</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>asset19</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.03364</real>
        <key>anchorY</key>
        <real>1.07368</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>asset21</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>asset22</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.06849</real>
        <key>anchorY</key>
        <real>1.26531</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>asset23</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.48936</real>
        <key>anchorY</key>
        <real>1.25000</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>asset37</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.03286</real>
        <key>anchorY</key>
        <real>1.05988</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>asset40</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49048</real>
        <key>anchorY</key>
        <real>0.53333</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>asset42</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.47857</real>
        <key>anchorY</key>
        <real>0.47273</real>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
      <key>asset48</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51429</real>
        <key>anchorY</key>
        <real>0.47590</real>
        <key>start</key>
        <integer>14</integer>
        <key>end</key>
        <integer>14</integer>
      </dict>
      <key>asset49</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.48333</real>
        <key>anchorY</key>
        <real>0.49398</real>
        <key>start</key>
        <integer>15</integer>
        <key>end</key>
        <integer>15</integer>
      </dict>
      <key>asset50</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49048</real>
        <key>anchorY</key>
        <real>0.47590</real>
        <key>start</key>
        <integer>16</integer>
        <key>end</key>
        <integer>16</integer>
      </dict>
      <key>asset51</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.52381</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>17</integer>
        <key>end</key>
        <integer>17</integer>
      </dict>
      <key>asset8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.10843</real>
        <key>anchorY</key>
        <real>1.18182</real>
        <key>start</key>
        <integer>18</integer>
        <key>end</key>
        <integer>18</integer>
      </dict>
      <key>asset9</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.06011</real>
        <key>anchorY</key>
        <real>1.42308</real>
        <key>start</key>
        <integer>19</integer>
        <key>end</key>
        <integer>19</integer>
      </dict>
      <key>facebook</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>20</integer>
        <key>end</key>
        <integer>20</integer>
      </dict>
      <key>google_plus</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>21</integer>
        <key>end</key>
        <integer>21</integer>
      </dict>
      <key>qq</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>22</integer>
        <key>end</key>
        <integer>22</integer>
      </dict>
      <key>suinode</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00000</real>
        <key>start</key>
        <integer>23</integer>
        <key>end</key>
        <integer>23</integer>
      </dict>
      <key>twitter</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>24</integer>
        <key>end</key>
        <integer>24</integer>
      </dict>
      <key>weibo</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>25</integer>
        <key>end</key>
        <integer>25</integer>
      </dict>
      <key>asset20</key>
      <dict>
        <key>type</key>
        <string>jpg</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>gamemain/asset20.jpg</string>
      </dict>
      <key>mask1</key>
      <dict>
        <key>type</key>
        <string>jpg</string>
        <key>anchorX</key>
        <real>-0.00139</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>gamemain/mask1.jpg</string>
      </dict>
      <key>asset13</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>-0.01929</real>
        <key>anchorY</key>
        <real>1.02145</real>
        <key>url</key>
        <string>gamemain/asset13.png</string>
      </dict>
      <key>asset7</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>-0.01435</real>
        <key>anchorY</key>
        <real>1.03320</real>
        <key>url</key>
        <string>gamemain/asset7.png</string>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>asset1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,230.00,188.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i150869</key>
          <dict>
            <key>class</key>
            <string>asset40</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>111.00,98.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|</string>
          </dict>
          <key>i150871</key>
          <dict>
            <key>class</key>
            <string>asset37</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>0.00,186.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00|null</string>
          </dict>
        </dict>
      </dict>
      <key>asset2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,238.00,186.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.94624</real>
        <key>children</key>
        <dict>
          <key>i150897</key>
          <dict>
            <key>class</key>
            <string>asset42</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>114.50,88.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|</string>
          </dict>
          <key>i150899</key>
          <dict>
            <key>class</key>
            <string>asset37</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>8.00,186.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00|null</string>
          </dict>
        </dict>
      </dict>
      <key>asset3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,230.00,186.00</string>
        <key>anchorX</key>
        <real>0.03478</real>
        <key>anchorY</key>
        <real>0.97849</real>
        <key>children</key>
        <dict>
          <key>i150925</key>
          <dict>
            <key>class</key>
            <string>asset51</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>118.00,92.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|</string>
          </dict>
          <key>i150927</key>
          <dict>
            <key>class</key>
            <string>asset37</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>0.00,186.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00|null</string>
          </dict>
        </dict>
      </dict>
      <key>asset4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,240.00,186.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.94624</real>
        <key>children</key>
        <dict>
          <key>i150955</key>
          <dict>
            <key>class</key>
            <string>asset37</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>10.00,186.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00|null</string>
          </dict>
          <key>i150953</key>
          <dict>
            <key>class</key>
            <string>asset50</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>120.00,88.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|</string>
          </dict>
        </dict>
      </dict>
      <key>asset5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,234.00,194.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i150983</key>
          <dict>
            <key>class</key>
            <string>asset37</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>4.00,190.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00|null</string>
          </dict>
          <key>i150981</key>
          <dict>
            <key>class</key>
            <string>asset49</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>112.50,97.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|</string>
          </dict>
        </dict>
      </dict>
      <key>asset6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,230.00,186.00</string>
        <key>anchorX</key>
        <real>0.01739</real>
        <key>anchorY</key>
        <real>0.94624</real>
        <key>children</key>
        <dict>
          <key>i151009</key>
          <dict>
            <key>class</key>
            <string>asset48</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>112.00,88.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|</string>
          </dict>
          <key>i151011</key>
          <dict>
            <key>class</key>
            <string>asset37</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>0.00,186.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00|null</string>
          </dict>
        </dict>
      </dict>
      <key>cards</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>6</integer>
        <key>rect</key>
        <string>0,0,243.05,194.00</string>
        <key>anchorX</key>
        <real>0.04114</real>
        <key>anchorY</key>
        <real>0.97938</real>
        <key>children</key>
        <dict>
          <key>t1</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|3.00,179.95,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||</string>
          </dict>
          <key>t5</key>
          <dict>
            <key>class</key>
            <string>asset6</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||17.05,181.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>t2</key>
          <dict>
            <key>class</key>
            <string>asset3</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||18.05,186.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||</string>
          </dict>
          <key>t4</key>
          <dict>
            <key>class</key>
            <string>asset5</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||6.05,194.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>t0</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>10.00,194.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||</string>
          </dict>
          <key>t3</key>
          <dict>
            <key>class</key>
            <string>asset4</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||0.00,180.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|</string>
          </dict>
        </dict>
      </dict>
      <key>game2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>3</integer>
        <key>rect</key>
        <string>0,0,728.70,1288.50</string>
        <key>anchorX</key>
        <real>0.01057</real>
        <key>anchorY</key>
        <real>0.00660</real>
        <key>children</key>
        <dict>
          <key>c5</key>
          <dict>
            <key>class</key>
            <string>cards</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>494.00,788.00,0.00,1.00000,1.00000,1.00,9,0.00,0.00||</string>
          </dict>
          <key>pause_replay</key>
          <dict>
            <key>class</key>
            <string>asset11</string>
            <key>zIndex</key>
            <integer>23</integer>
            <key>frames</key>
            <string>null||301.25,822.10,0.00,1.00000,1.00000,1.00,23,0.00,0.00</string>
          </dict>
          <key>i151067</key>
          <dict>
            <key>class</key>
            <string>asset21</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>7.70,1288.50,0.00,1.00000,1.00000,1.00,1,0.00,0.00||</string>
          </dict>
          <key>result_score</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>25</integer>
            <key>frames</key>
            <string>null|333.70,961.30,0.00,1.00000,1.00000,1.00,25,0.00,0.00,黑体,40,#FF3300,center,117,44|null</string>
            <key>text</key>
            <string>1</string>
            <key>input</key>
            <false/>
          </dict>
          <key>c8</key>
          <dict>
            <key>class</key>
            <string>cards</string>
            <key>zIndex</key>
            <integer>12</integer>
            <key>frames</key>
            <string>492.65,583.70,0.00,1.00000,1.00000,1.00,12,0.00,0.00||</string>
          </dict>
          <key>mask1</key>
          <dict>
            <key>class</key>
            <string>mask1</string>
            <key>zIndex</key>
            <integer>18</integer>
            <key>frames</key>
            <string>null|7.70,1288.50,0.00,0.99997,1.00006,1.00,18,0.00,0.00|</string>
          </dict>
          <key>i151218</key>
          <dict>
            <key>class</key>
            <string>asset13</string>
            <key>zIndex</key>
            <integer>19</integer>
            <key>frames</key>
            <string>null|44.90,1168.80,0.00,1.00000,1.00000,1.00,19,0.00,0.00|null</string>
          </dict>
          <key>c1</key>
          <dict>
            <key>class</key>
            <string>cards</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>264.80,992.75,0.00,1.00000,1.00000,1.00,5,0.00,0.00||</string>
          </dict>
          <key>c9</key>
          <dict>
            <key>class</key>
            <string>cards</string>
            <key>zIndex</key>
            <integer>13</integer>
            <key>frames</key>
            <string>24.80,379.20,0.00,1.00000,1.00000,1.00,13,0.00,0.00||</string>
          </dict>
          <key>c10</key>
          <dict>
            <key>class</key>
            <string>cards</string>
            <key>zIndex</key>
            <integer>14</integer>
            <key>frames</key>
            <string>264.80,379.20,0.00,1.00000,1.00000,1.00,14,0.00,0.00||</string>
          </dict>
          <key>btn_more</key>
          <dict>
            <key>class</key>
            <string>asset18</string>
            <key>zIndex</key>
            <integer>23</integer>
            <key>frames</key>
            <string>null|141.30,604.25,0.00,1.00000,1.00000,1.00,23,0.00,0.00|null</string>
          </dict>
          <key>txt_score</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>17</integer>
            <key>frames</key>
            <string>438.70,1178.45,0.00,1.00000,1.00000,1.00,17,0.00,0.00,黑体,40,#FFFFFF,center,117,44||</string>
            <key>text</key>
            <string>1</string>
            <key>input</key>
            <false/>
          </dict>
          <key>btn_next</key>
          <dict>
            <key>class</key>
            <string>asset12</string>
            <key>zIndex</key>
            <integer>26</integer>
            <key>frames</key>
            <string>null|444.80,598.00,0.00,1.00000,1.00000,1.00,26,0.00,0.00|null</string>
          </dict>
          <key>c6</key>
          <dict>
            <key>class</key>
            <string>cards</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>28.50,583.70,0.00,1.00000,1.00000,1.00,10,0.00,0.00||</string>
          </dict>
          <key>i151221</key>
          <dict>
            <key>class</key>
            <string>asset15</string>
            <key>zIndex</key>
            <integer>21</integer>
            <key>frames</key>
            <string>null|135.30,610.25,0.00,1.00000,1.00000,1.00,21,0.00,0.00|null</string>
          </dict>
          <key>i151230</key>
          <dict>
            <key>class</key>
            <string>asset7</string>
            <key>zIndex</key>
            <integer>19</integer>
            <key>frames</key>
            <string>null||42.90,1122.20,0.00,1.00000,1.00000,1.00,19,0.00,0.00</string>
          </dict>
          <key>txt_share</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>27</integer>
            <key>frames</key>
            <string>null|154.70,899.15,0.00,1.00000,1.00000,1.00,27,0.00,0.00,黑体,30,#993300,center,430,161|null</string>
            <key>text</key>
            <string>1</string>
            <key>input</key>
            <false/>
          </dict>
          <key>c11</key>
          <dict>
            <key>class</key>
            <string>cards</string>
            <key>zIndex</key>
            <integer>15</integer>
            <key>frames</key>
            <string>493.70,379.20,0.00,1.00000,1.00000,1.00,15,0.00,0.00||</string>
          </dict>
          <key>c2</key>
          <dict>
            <key>class</key>
            <string>cards</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>494.00,992.75,0.00,1.00000,1.00000,1.00,6,0.00,0.00||</string>
          </dict>
          <key>mask2</key>
          <dict>
            <key>class</key>
            <string>suinode</string>
            <key>zIndex</key>
            <integer>28</integer>
            <key>frames</key>
            <string>null|7.70,8.50,0.00,1.00000,1.00000,1.00,28,0.00,0.00|null</string>
          </dict>
          <key>i151065</key>
          <dict>
            <key>class</key>
            <string>asset20</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>7.70,1288.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00||</string>
          </dict>
          <key>i151234</key>
          <dict>
            <key>class</key>
            <string>asset9</string>
            <key>zIndex</key>
            <integer>21</integer>
            <key>frames</key>
            <string>null||159.00,935.20,0.00,1.00000,1.00000,1.00,21,0.00,0.00</string>
          </dict>
          <key>pause_back</key>
          <dict>
            <key>class</key>
            <string>asset10</string>
            <key>zIndex</key>
            <integer>22</integer>
            <key>frames</key>
            <string>null||136.65,830.25,0.00,1.00000,1.00000,1.00,22,0.00,0.00</string>
          </dict>
          <key>btn_pause</key>
          <dict>
            <key>class</key>
            <string>asset23</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>556.10,1195.90,0.00,1.00000,1.00000,1.00,3,0.00,0.00||</string>
          </dict>
          <key>i151069</key>
          <dict>
            <key>class</key>
            <string>asset22</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>270.70,1197.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00||</string>
          </dict>
          <key>i151223</key>
          <dict>
            <key>class</key>
            <string>asset16</string>
            <key>zIndex</key>
            <integer>22</integer>
            <key>frames</key>
            <string>null|200.35,983.25,0.00,1.00000,1.00000,1.00,22,0.00,0.00|null</string>
          </dict>
          <key>i151226</key>
          <dict>
            <key>class</key>
            <string>asset19</string>
            <key>zIndex</key>
            <integer>24</integer>
            <key>frames</key>
            <string>null|198.40,1150.60,0.00,1.00000,1.00000,1.00,24,0.00,0.00|null</string>
          </dict>
          <key>c3</key>
          <dict>
            <key>class</key>
            <string>cards</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>28.50,789.05,0.00,1.00000,1.00000,1.00,7,0.00,0.00||</string>
          </dict>
          <key>puase_go</key>
          <dict>
            <key>class</key>
            <string>asset12</string>
            <key>zIndex</key>
            <integer>24</integer>
            <key>frames</key>
            <string>null||460.25,816.25,0.00,1.00000,1.00000,1.00,24,0.00,0.00</string>
          </dict>
          <key>c7</key>
          <dict>
            <key>class</key>
            <string>cards</string>
            <key>zIndex</key>
            <integer>11</integer>
            <key>frames</key>
            <string>264.80,583.70,0.00,1.00000,1.00000,1.00,11,0.00,0.00||</string>
          </dict>
          <key>i151232</key>
          <dict>
            <key>class</key>
            <string>asset8</string>
            <key>zIndex</key>
            <integer>20</integer>
            <key>frames</key>
            <string>null||218.90,1106.00,0.00,1.00000,1.00000,1.00,20,0.00,0.00</string>
          </dict>
          <key>btn_replay</key>
          <dict>
            <key>class</key>
            <string>asset14</string>
            <key>zIndex</key>
            <integer>20</integer>
            <key>frames</key>
            <string>null|450.80,608.30,0.00,1.00000,1.00000,1.00,20,0.00,0.00|null</string>
          </dict>
          <key>txt_time</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>16</integer>
            <key>frames</key>
            <string>105.70,1178.45,0.00,1.00000,1.00000,1.00,16,0.00,0.00,黑体,40,#FFFFFF,center,123,44||</string>
            <key>text</key>
            <string>00:60</string>
            <key>input</key>
            <false/>
          </dict>
          <key>c0</key>
          <dict>
            <key>class</key>
            <string>cards</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>28.50,992.75,0.00,1.00000,1.00000,1.00,4,0.00,0.00||</string>
          </dict>
          <key>c4</key>
          <dict>
            <key>class</key>
            <string>cards</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>264.80,788.00,0.00,1.00000,1.00000,1.00,8,0.00,0.00||</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>