<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>indexScene_0000</key>
      <dict>
        <key>frame</key>
        <string>{{88,202},{84,72}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{84.00,72.00}</string>
      </dict>
      <key>indexScene_0001</key>
      <dict>
        <key>frame</key>
        <string>{{1,202},{85,72}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{85.00,72.00}</string>
      </dict>
      <key>indexScene_0002</key>
      <dict>
        <key>frame</key>
        <string>{{1,276},{1,1}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{1.00,1.00}</string>
      </dict>
      <key>indexScene_0003</key>
      <dict>
        <key>frame</key>
        <string>{{1,85},{169,74}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{169.00,74.00}</string>
      </dict>
      <key>indexScene_0004</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{185,82}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{185.00,82.00}</string>
      </dict>
      <key>indexScene_0005</key>
      <dict>
        <key>frame</key>
        <string>{{1,161},{92,39}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{92.00,39.00}</string>
      </dict>
      <key>indexScene_0006</key>
      <dict>
        <key>frame</key>
        <string>{{172,85},{56,47}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{56.00,47.00}</string>
      </dict>
      <key>indexScene_0007</key>
      <dict>
        <key>frame</key>
        <string>{{172,134},{56,47}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{56.00,47.00}</string>
      </dict>
      <key>indexScene_0008</key>
      <dict>
        <key>frame</key>
        <string>{{95,161},{74,25}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{74.00,25.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.53</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>indexScene.png</string>
      <key>realTextureFileName</key>
      <string>indexScene.png</string>
      <key>textureFileName</key>
      <string>indexScene.png</string>
      <key>size</key>
      <string>{288,284}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>fujd</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.54762</real>
        <key>anchorY</key>
        <real>0.45139</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>ghuj</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.54706</real>
        <key>anchorY</key>
        <real>0.43750</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a20</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>1.00000</real>
        <key>anchorY</key>
        <real>0.00000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>a2208</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51479</real>
        <key>anchorY</key>
        <real>0.47973</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>a2209</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.51892</real>
        <key>anchorY</key>
        <real>0.45122</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>a556</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>a569</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>a571</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-1.10714</real>
        <key>anchorY</key>
        <real>2.19149</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>a8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49392</real>
        <key>anchorY</key>
        <real>0.39400</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>a2149</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>url</key>
        <string>indexScene/a2149.png</string>
      </dict>
      <key>a2193</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.04676</real>
        <key>anchorY</key>
        <real>1.37760</real>
        <key>url</key>
        <string>indexScene/a2193.png</string>
      </dict>
      <key>a568</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>url</key>
        <string>indexScene/a568.png</string>
      </dict>
      <key>dfc</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>url</key>
        <string>indexScene/dfc.png</string>
      </dict>
      <key>gfhd</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>url</key>
        <string>indexScene/gfhd.png</string>
      </dict>
      <key>sdfgv</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>url</key>
        <string>indexScene/sdfgv.png</string>
      </dict>
      <key>weqwfsad</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.00826</real>
        <key>anchorY</key>
        <real>0.96040</real>
        <key>url</key>
        <string>indexScene/weqwfsad.png</string>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>a2183</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>88</integer>
        <key>rect</key>
        <string>0,0,148.00,139.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i437206</key>
          <dict>
            <key>class</key>
            <string>a571</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||0.00,139.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00|||||||null|||||||||||||||||</string>
          </dict>
          <key>i436775</key>
          <dict>
            <key>class</key>
            <string>a568</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>74.00,69.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>i437204</key>
          <dict>
            <key>class</key>
            <string>a569</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null|||||||||90.00,59.50,0.00,1.00000,1.00000,1.00,1,0.00,0.00|||||null|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
        </dict>
      </dict>
      <key>dqwrwqed</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,95.00,81.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i437208</key>
          <dict>
            <key>class</key>
            <string>ghuj</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|47.50,40.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i436801</key>
          <dict>
            <key>class</key>
            <string>fujd</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>47.00,40.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
        </dict>
      </dict>
      <key>eqwsrsqe</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,184.00,79.20</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict/>
      </dict>
      <key>gfjhn</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,176.00,79.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i436855</key>
          <dict>
            <key>class</key>
            <string>a2208</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>88.00,39.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>ghok</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,196.00,92.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i436881</key>
          <dict>
            <key>class</key>
            <string>a2209</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>98.00,46.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>index</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,806.35,613.35</string>
        <key>anchorX</key>
        <real>0.00893</real>
        <key>anchorY</key>
        <real>0.98590</real>
        <key>children</key>
        <dict>
          <key>btn_more</key>
          <dict>
            <key>class</key>
            <string>ghok</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>104.35,46.00,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>bggtfj</key>
          <dict>
            <key>class</key>
            <string>sdfgv</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>406.35,308.85,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>haha</key>
          <dict>
            <key>class</key>
            <string>thdjm</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>710.75,470.25,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>bg</key>
          <dict>
            <key>class</key>
            <string>a20</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>406.65,308.85,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>i436917</key>
          <dict>
            <key>class</key>
            <string>weqwfsad</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>120.95,301.75,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>btn_music</key>
          <dict>
            <key>class</key>
            <string>dqwrwqed</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>706.05,596.70,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>btn_play</key>
          <dict>
            <key>class</key>
            <string>gfjhn</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>716.30,47.40,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>i436909</key>
          <dict>
            <key>class</key>
            <string>gfhd</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>271.35,265.85,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>thdjm</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>43</integer>
        <key>rect</key>
        <string>0,0,92.00,39.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>children</key>
        <dict>
          <key>i437211</key>
          <dict>
            <key>class</key>
            <string>a556</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||||||||||||||||||||||||||||||||||46.00,19.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00||||||</string>
          </dict>
        </dict>
      </dict>
      <key>wqrqwrwqedw</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,171.45,74.15</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict/>
      </dict>
    </dict>
  </dict>
</plist>