<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>scene1_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{482,802}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{480,800}</string>
      </dict>
      <key>scene1_000001</key>
      <dict>
        <key>frame</key>
        <string>{{421,871},{177,68}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{175,66}</string>
      </dict>
      <key>scene1_000002</key>
      <dict>
        <key>frame</key>
        <string>{{421,802},{177,69}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{175,67}</string>
      </dict>
      <key>scene1_000003</key>
      <dict>
        <key>frame</key>
        <string>{{0,802},{421,183}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{419,181}</string>
      </dict>
      <key>scene1_000004</key>
      <dict>
        <key>frame</key>
        <string>{{421,939},{75,56}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{73,54}</string>
      </dict>
      <key>scene1_000005</key>
      <dict>
        <key>frame</key>
        <string>{{482,0},{43,56}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{41,54}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>scene1.png</string>
      <key>size</key>
      <string>{682,1002}</string>
      <key>textureFileName</key>
      <string>scene1.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asset65</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset71</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.04000</real>
        <key>anchorY</key>
        <real>1.09091</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset72</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.03429</real>
        <key>anchorY</key>
        <real>1.08955</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>asset73</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.03580</real>
        <key>anchorY</key>
        <real>1.05525</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>asset74</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.61644</real>
        <key>anchorY</key>
        <real>0.59352</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>asset75</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-1.89756</real>
        <key>anchorY</key>
        <real>0.59352</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>asset64</key>
      <dict>
        <key>type</key>
        <string>MuteButton</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,118.45,54.20</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.59502</real>
        <key>children</key>
        <dict>
          <key>i2988</key>
          <dict>
            <key>class</key>
            <string>asset75</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|0.00,32.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i2847</key>
          <dict>
            <key>class</key>
            <string>asset74</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,32.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
        </dict>
      </dict>
      <key>SkinScene1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,481.00,800.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.99831</real>
        <key>children</key>
        <dict>
          <key>i2881</key>
          <dict>
            <key>class</key>
            <string>asset61</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>14.00,774.00,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>mute_mc</key>
          <dict>
            <key>class</key>
            <string>asset64</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>429.00,783.00,0.00,0.37036,0.37737,1.00,1,0.00,0.00</string>
          </dict>
          <key>more_btn</key>
          <dict>
            <key>class</key>
            <string>asset63</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>3.00,486.10,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>play_btn</key>
          <dict>
            <key>class</key>
            <string>asset62</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>0.85,366.30,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>i2873</key>
          <dict>
            <key>class</key>
            <string>asset65</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>1.00,800.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>asset61</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,443.00,191.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i2908</key>
          <dict>
            <key>class</key>
            <string>asset73</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,191.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>asset62</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,184.00,75.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i2934</key>
          <dict>
            <key>class</key>
            <string>asset71</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,75.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>asset63</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,184.00,75.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i2960</key>
          <dict>
            <key>class</key>
            <string>asset72</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,75.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>