<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>scene4_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{482,642}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{480,640}</string>
      </dict>
      <key>scene4_000001</key>
      <dict>
        <key>frame</key>
        <string>{{160,642},{143,464}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{141,462}</string>
      </dict>
      <key>scene4_000002</key>
      <dict>
        <key>frame</key>
        <string>{{303,764},{122,122}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>scene4_000003</key>
      <dict>
        <key>frame</key>
        <string>{{0,906},{122,122}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>scene4_000004</key>
      <dict>
        <key>frame</key>
        <string>{{303,642},{122,122}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{120,120}</string>
      </dict>
      <key>scene4_000005</key>
      <dict>
        <key>frame</key>
        <string>{{0,779},{145,127}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{143,125}</string>
      </dict>
      <key>scene4_000006</key>
      <dict>
        <key>frame</key>
        <string>{{0,642},{160,137}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{158,135}</string>
      </dict>
      <key>scene4_000007</key>
      <dict>
        <key>frame</key>
        <string>{{482,0},{372,586}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{370,584}</string>
      </dict>
      <key>scene4_000008</key>
      <dict>
        <key>frame</key>
        <string>{{0,1028},{92,73}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{90,71}</string>
      </dict>
      <key>scene4_000009</key>
      <dict>
        <key>frame</key>
        <string>{{92,1028},{48,77}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,75}</string>
      </dict>
      <key>scene4_000010</key>
      <dict>
        <key>frame</key>
        <string>{{303,886},{80,60}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{78,58}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>scene4.png</string>
      <key>size</key>
      <string>{882,1142}</string>
      <key>textureFileName</key>
      <string>scene4.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asset730</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset732</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset733</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>asset734</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>asset735</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>asset744</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49650</real>
        <key>anchorY</key>
        <real>0.46800</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>asset746</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.53481</real>
        <key>anchorY</key>
        <real>0.45185</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>asset748</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.01622</real>
        <key>anchorY</key>
        <real>1.01712</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>asset749</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>asset750</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>asset751</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>asset731</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>4</integer>
        <key>rect</key>
        <string>0,0,376.00,595.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>__id0_</key>
          <dict>
            <key>class</key>
            <string>asset748</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,595.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|||</string>
          </dict>
          <key>i1210574</key>
          <dict>
            <key>class</key>
            <string>asset750</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null||104.00,236.60,0.00,1.00000,1.00000,1.00,1,0.00,0.00|null</string>
          </dict>
          <key>i1210572</key>
          <dict>
            <key>class</key>
            <string>asset749</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null|117.00,224.60,0.00,1.00000,1.00000,1.00,1,0.00,0.00|null|</string>
          </dict>
          <key>i1210576</key>
          <dict>
            <key>class</key>
            <string>asset751</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null|||158.00,226.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>skinscene4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,495.05,680.75</string>
        <key>anchorX</key>
        <real>0.03040</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>btn_play</key>
          <dict>
            <key>class</key>
            <string>asset746</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>84.50,84.00,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>i1210538</key>
          <dict>
            <key>class</key>
            <string>asset732</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>354.05,560.15,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>cat</key>
          <dict>
            <key>class</key>
            <string>asset731</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>25.45,643.75,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>wen1</key>
          <dict>
            <key>class</key>
            <string>asset733</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>364.60,519.15,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>wen2</key>
          <dict>
            <key>class</key>
            <string>asset734</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>364.60,383.15,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>wen3</key>
          <dict>
            <key>class</key>
            <string>asset735</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>364.60,248.10,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>btn_more</key>
          <dict>
            <key>class</key>
            <string>asset744</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>275.00,85.50,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>i1210535</key>
          <dict>
            <key>class</key>
            <string>asset730</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>15.05,680.75,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>