<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>GameIndex_0000</key>
      <dict>
        <key>frame</key>
        <string>{{293,304},{82,74}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{82.00,74.00}</string>
      </dict>
      <key>GameIndex_0001</key>
      <dict>
        <key>frame</key>
        <string>{{377,227},{77,78}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{77.00,78.00}</string>
      </dict>
      <key>GameIndex_0002</key>
      <dict>
        <key>frame</key>
        <string>{{377,307},{77,78}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{77.00,78.00}</string>
      </dict>
      <key>GameIndex_0003</key>
      <dict>
        <key>frame</key>
        <string>{{293,227},{82,75}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{82.00,75.00}</string>
      </dict>
      <key>GameIndex_0004</key>
      <dict>
        <key>frame</key>
        <string>{{147,275},{144,146}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{144.00,146.00}</string>
      </dict>
      <key>GameIndex_0005</key>
      <dict>
        <key>frame</key>
        <string>{{1,275},{144,146}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{144.00,146.00}</string>
      </dict>
      <key>GameIndex_0006</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{413,224}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{413.00,224.00}</string>
      </dict>
      <key>GameIndex_0007</key>
      <dict>
        <key>frame</key>
        <string>{{1,227},{232,46}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>sourceSize</key>
        <string>{232.00,46.00}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>app</key>
      <string>http://flax.longames.com</string>
      <key>version</key>
      <real>2.58</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>image</key>
      <string>GameIndex.png</string>
      <key>realTextureFileName</key>
      <string>GameIndex.png</string>
      <key>textureFileName</key>
      <string>GameIndex.png</string>
      <key>size</key>
      <string>{516,426}</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>a1</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>a13</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>a14</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>a2</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50000</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>buttonmore</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50208</real>
        <key>anchorY</key>
        <real>0.48322</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>buttonplay</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.50208</real>
        <key>anchorY</key>
        <real>0.48322</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>a15</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50206</real>
        <key>anchorY</key>
        <real>0.51496</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>a5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>a11</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>-0.16106</real>
        <key>anchorY</key>
        <real>1.05183</real>
        <key>url</key>
        <string>GameIndex/a11.png</string>
      </dict>
      <key>a12</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>url</key>
        <string>GameIndex/a12.png</string>
      </dict>
      <key>a16</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>0.50043</real>
        <key>anchorY</key>
        <real>0.49884</real>
        <key>url</key>
        <string>GameIndex/a16.png</string>
      </dict>
      <key>a8</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>-0.14395</real>
        <key>anchorY</key>
        <real>1.15735</real>
        <key>url</key>
        <string>GameIndex/a8.png</string>
      </dict>
      <key>a9</key>
      <dict>
        <key>type</key>
        <string>png</string>
        <key>anchorX</key>
        <real>-0.21787</real>
        <key>anchorY</key>
        <real>1.09282</real>
        <key>url</key>
        <string>GameIndex/a9.png</string>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>a4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>110</integer>
        <key>rect</key>
        <string>0,0,232.00,46.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>children</key>
        <dict>
          <key>i8620</key>
          <dict>
            <key>class</key>
            <string>a5</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,46.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|||||||0.00,41.50,0.00,1.00000,0.89130,1.00,0,0.00,0.00|0.00,37.00,0.00,1.00000,0.78259,1.00,0,0.00,0.00|0.00,30.00,0.00,1.00000,0.47826,1.00,0,0.00,0.00|0.00,23.00,0.00,1.00000,0.17392,1.00,0,0.00,0.00|0.00,29.15,0.00,1.00000,0.41304,1.00,0,0.00,0.00|0.00,35.35,0.00,1.00000,0.65219,1.00,0,0.00,0.00|0.00,41.50,0.00,1.00000,0.89131,1.00,0,0.00,0.00|0.00,46.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||0.00,41.50,0.00,1.00000,0.89130,1.00,0,0.00,0.00|0.00,37.00,0.00,1.00000,0.78259,1.00,0,0.00,0.00|0.00,30.00,0.00,1.00000,0.47826,1.00,0,0.00,0.00|0.00,23.00,0.00,1.00000,0.17392,1.00,0,0.00,0.00|0.00,29.15,0.00,1.00000,0.41304,1.00,0,0.00,0.00|0.00,35.35,0.00,1.00000,0.65219,1.00,0,0.00,0.00|0.00,41.50,0.00,1.00000,0.89131,1.00,0,0.00,0.00|0.00,46.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|||||||||||||||||||||||||</string>
          </dict>
        </dict>
      </dict>
      <key>buttonmusic</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>2</integer>
        <key>rect</key>
        <string>0,0,75.50,76.00</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.49276</real>
        <key>children</key>
        <dict>
          <key>i8646</key>
          <dict>
            <key>class</key>
            <string>a13</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>38.00,38.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i8843</key>
          <dict>
            <key>class</key>
            <string>a14</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|37.50,38.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>gameIndex</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,802.20,602.55</string>
        <key>anchorX</key>
        <real>0.00193</real>
        <key>anchorY</key>
        <real>0.99602</real>
        <key>children</key>
        <dict>
          <key>btn_music</key>
          <dict>
            <key>class</key>
            <string>buttonmusic</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>748.40,552.55,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>i8676</key>
          <dict>
            <key>class</key>
            <string>a16</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>234.40,301.35,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>i8672</key>
          <dict>
            <key>class</key>
            <string>a11</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>-128.45,632.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>i8683</key>
          <dict>
            <key>class</key>
            <string>a15</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>539.20,309.65,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>play_btn</key>
          <dict>
            <key>class</key>
            <string>buttonplay</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>711.85,89.80,0.00,0.79999,0.79999,1.00,8,0.00,0.00</string>
          </dict>
          <key>i8681</key>
          <dict>
            <key>class</key>
            <string>a9</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>-174.95,220.55,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>btn_more</key>
          <dict>
            <key>class</key>
            <string>buttonmore</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>94.55,89.80,0.00,0.79999,0.79999,1.00,7,0.00,0.00</string>
          </dict>
          <key>i8674</key>
          <dict>
            <key>class</key>
            <string>a8</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>-115.45,632.25,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>yan</key>
          <dict>
            <key>class</key>
            <string>a4</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>167.80,389.25,0.00,0.78427,0.78264,1.00,3,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>