<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>washIndex_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{803,602}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{801,600}</string>
      </dict>
      <key>washIndex_000001</key>
      <dict>
        <key>frame</key>
        <string>{{238,602},{238,96}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{236,94}</string>
      </dict>
      <key>washIndex_000002</key>
      <dict>
        <key>frame</key>
        <string>{{0,602},{238,96}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{236,94}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>washIndex.png</string>
      <key>size</key>
      <string>{804,702}</string>
      <key>textureFileName</key>
      <string>washIndex.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asset1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49938</real>
        <key>anchorY</key>
        <real>0.49992</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00847</real>
        <key>anchorY</key>
        <real>0.97872</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00847</real>
        <key>anchorY</key>
        <real>0.97872</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>indexGame</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,800.60,600.15</string>
        <key>anchorX</key>
        <real>0.49963</real>
        <key>anchorY</key>
        <real>0.50012</real>
        <key>children</key>
        <dict>
          <key>i82899409</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>400.00,300.10,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>replay_btn</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>466.90,142.35,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>more_btn</key>
          <dict>
            <key>class</key>
            <string>asset3</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>122.40,142.35,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>